[2017-04-04 13:09] LeoNatan opened #1 "Add support for location permissions"
Need to investigate where those are saved in and what process is responsible for their management. They are not in TCC.

[2017-04-04 13:09] LeoNatan opened #2 "Improve README.md"

[2017-04-11 15:55] billburgess commented on #1
+1

[2017-04-11 15:56] LeoNatan commented on #1
@billburgess Thanks for your support. We are in holiday right now, so I intend to come back to this toward the end of next week.

[2017-04-11 15:59] billburgess commented on #1
I appreciate the work so far. Let me know if you need help testing. If I come across anything, I'll be sure to submit a PR.

[2017-04-11 18:52] billburgess opened #3 "Setting permission not working"
When run locally on a clean simulator (app not installed) the command does not set the permissions for notifications.

1. Open the iOS Simulator (using iPhone 7)
2. Open terminal
3. Run command `applesimutils --simulator "iPhone 7" --bundle "my.bundle.id" --setPermissions "notifications=YES"`
4. Simulator restarts.
5. Run test suite
6. Apple Notification Permission dialog still appears while tests

[2017-04-12 11:34] LeoNatan commented on #3
Did you run this before or after installing the app on the simulator? Maybe this is causing the issue, but it shouldn't from my testing.

[2017-04-12 11:38] LeoNatan commented on #3
You need to provide the simulator UUID for the `--simulator` argument. Use `simctl list` and copy the UUID of the simulator.

[2017-04-12 11:38] #3 closed

[2017-04-12 11:42] LeoNatan opened #4 "Add support for providing simulator by name"
Following #3, it may be useful to be able to specify the simulator name instead of the explicit ID.

[2017-04-12 11:43] LeoNatan commented on #3
I've opened an enhancement issue for this. I'll see what I can do.

[2017-04-12 12:06] billburgess commented on #3
I tried once with the simulator UUID. Maybe that is the trick. Subsequent runs still seemed to run against the open iPhone 7 simulator and restarted the Springboard. So something is working on the simulator.

The main for me is how would I be able to use this in my CI script. I won't know the UUID on the remote machine where my tests are running, so I can't hardcode a UUID in. Is it possible to fu

[2017-04-12 12:32] LeoNatan commented on #3
For now, you can use `fbsimctl "iPhone 7" list | tr -s ' ' | cut -d ' ' -f 1 | head -1` to obtain the UUID of the simulator you want to use in your CI.

[2017-04-12 12:32] LeoNatan commented on #3
It might be possible to somehow filter `xcrun simctl list` as well, but the output there is more complex / less convenient.

[2017-04-12 12:56] billburgess commented on #3
I'll give that a try. I appreciate the help.

[2017-04-13 14:51] billburgess commented on #3
Here is the command I ultimately ended up using in my yml file to set the permission. It does work once I set the permissions on the UDID rather than the name.

`applesimutils --simulator $(fbsimctl 'iPhone 7' list | tr -s '' | cut -d ' ' -f 1 | head -1) --bundle "com.myapp.bundle" --setPermissions "notifications=YES"`

[2017-04-13 17:07] LeoNatan commented on #3
Thanks for posting this. I will work on a future improvement to allow specifying the simulator by name.

[2017-04-18 09:42] #4 closed

[2017-04-19 10:53] #1 closed

[2017-04-19 13:11] billburgess commented on #1
Thanks for taking a look at this so quickly. I put a hack in place to get around this, but I should be able to give it a try to see how it goes.

[2017-04-19 13:14] LeoNatan commented on #1
Please test. Areas to test are when an app only has permission to access location in use. Currently, I  assume that both in use and always permissions can be granted. Not sure how iOS will handle if this is not the case. Please notice that the app needs to be installed before using the tool.

[2017-04-19 13:16] billburgess commented on #1
Sounds good. My app requires Always permission to use Geofences in the background. I'll let you know if I find out anything odd or not working correctly.

[2017-04-19 13:26] billburgess commented on #1
The command fails when I try to run it.

`applesimutils` --simulator B5267D22-FFEB-48B9-BA63-C86755D7B3AD --bundle "com.mybundle" --setPermissions `"notifications=YES, location=always"`
An error was encountered processing the command (domain=NSPOSIXErrorDomain, code=2):
The operation couldn’t be completed. No such file or directory
No such file or directory

[2017-04-19 13:28] billburgess commented on #1
The simulator does restart in spite of the command though.

[2017-04-19 13:29] LeoNatan commented on #1
Hmm. Could you please open a new issue so I can investigate?

[2017-04-19 13:30] billburgess opened #5 "New location permission generates error"
The command generates an error when using the location=always permission. If the simulator is open, it does restartSB.

`applesimutils --simulator B5267D22-FFEB-48B9-BA63-C86755D7B3AD --bundle "com.mybundle" --setPermissions "notifications=YES, location=always"`
An error was encountered processing the command (domain=NSPOSIXErrorDomain, code=2):
The operation couldn’t be completed. No such file or

[2017-04-19 13:45] LeoNatan commented on #5
What Xcode and what simulator version are you trying?
Where is your Xcode installed (i.e. `xcode-select -p`)?

[2017-04-19 13:46] billburgess commented on #5
After running my test suite using that command, all of my tests passed and the location dialog does not get presented.

1. Reset Simulator
2. Start simulator to be used
3. Execute command to set permissions (error does show)
4. Run test suite

Using Xcode Version 8.3.1 (8E1000a). 10.3 iPhone 7 simulator. /Applications/Xcode.app/Contents/Developer

[2017-04-19 13:52] billburgess commented on #5
No, the app is not installed prior to running the command, but does seem to work. I'll try it again running build-for-testing to see how it goes.

[2017-04-19 13:56] billburgess commented on #5
`build-for-testing` doesn't install the app to the simulator. I ran that first, then tried to run the command and get the same error.

[2017-04-20 00:18] LeoNatan commented on #5
Right, the `build-for-testing` action only creates an .app that can be installed using `xcrun simctl install`. I will try to find a solution for this problem tomorrow.

[2017-04-20 06:42] #5 closed

[2017-04-20 06:42] LeoNatan commented on #5
OK, so it turns out what I said is incorrect. You do not have to have the application installed. I fixed the issue.

[2017-04-20 15:00] billburgess commented on #5
Sounds good. I'll give it another test run on my CI build.

[2017-06-07 09:32] irrigator opened #6 "Can not find simulators after upgrade Xcode from 8.3.3"
#### Description

Works find before but it can not find simulators after upgrade Xcode from 8.3.3, either by name or by simulator id.

#### Steps to Reproduce

run  ```applesimutils --simulator "iPhone 6, OS = 10.3" --bundle "com.ancientmd.dingtcm.test" --setPermissions "notifications=YES, location=always, camera=YES"```

#### Device, macOS and Xcode Versions
newest macOS and Xcode

[2017-06-07 10:40] LeoNatan commented on #6
Please paste the result of running the following command:
```xcrun simctl list devices```

Thanks

[2017-06-07 13:39] irrigator commented on #6
== Devices ==
-- iOS 10.3 --
    iPhone 5 (CC2780BB-76A2-4EC7-A2FE-A1098F987B25) (Shutdown)
    iPhone 5s (E27DAC62-D837-43BF-BCBC-0C1B88E1F28B) (Shutdown)
    iPhone 6 (09090B3A-C584-428F-AC2C-91494BBC8667) (Booted)
    iPhone 6 Plus (00C9156C-0418-4980-8FD8-966EADE83A50) (Shutdown)
    iPhone 6s (63BAABF4-6BB2-4C93-A990-EFDA9A8E7F4F) (Shutdown)
    iPhone 6s Plus (770AA100-789B-4AC5-8DA9-A4F09DB

[2017-06-07 15:28] LeoNatan commented on #6
These devices should be discoverable by `applesimutils`.

[2017-06-07 16:01] irrigator commented on #6
The command ```applesimutils --simulator "iPhone 6, OS = 10.3" --bundle "com.ancientmd.dingtcm.test" --setPermissions "notifications=YES, location=always, camera=YES"``` failed with error message "Error: No simulator found matching “iPhone 6, OS = 10.3”". It used to work correctly before I upgraded Xcode to 8.3.3.

[2017-06-07 16:05] irrigator commented on #6
Update
I tried to use identifier instead of simulator name, and it worked!

[2017-06-07 16:07] LeoNatan commented on #6
I see. So something must have broken the search algorithm. I’ll look.

[2017-06-07 16:10] irrigator commented on #6
Thanks a lot. Could you please point me to the related code? Although I don't know Objective-C, I will try to help by investigating this issue.

[2017-06-07 16:12] LeoNatan commented on #6
The search is performed in the main function here:
https://github.com/wix/AppleSimulatorUtils/blob/master/applesimutils/applesimutils/main.m

[2017-06-09 07:49] LeoNatan commented on #6
I think I know what the issue is. The OS has been updated to 10.3.1 in Xcode 8.3.3, and thus there is no 10.3 device. Update your command to be 10.3.1. Thanks.

[2017-06-09 07:49] #6 closed

[2017-07-01 13:45] bootstraponline opened #7 "NSException when setting location on buddybuild VM"
#### Description
Wix errors when run in a buddybuild postclone step.

[code]

#### Steps to Reproduce
Edit `buddybuild_postclone.sh:` and run

#### Device, macOS and Xcode Versions

- Xcode 8.3.3
- macOS Sierra Version 10.12.5
- iPhone 7 Plus (10.3.1) [7D33C5C4-B6C6-4E99-B208-21E62A504E7D] (Simulator)

[2017-07-01 13:49] LeoNatan commented on #7
Thanks, I will take a look!

[2017-07-13 14:56] LeoNatan commented on #7
Sorry for getting back to you after so long.
I fixed the issue. Please upgrade to the latest version:

[code]

[2017-07-13 14:56] #7 closed

[2017-07-13 15:15] bootstraponline commented on #7
Thanks! That was actually pretty fast. 😄

[2017-08-01 11:29] rotemmiz opened #8 "Unsetting an already set permission"
#### Feature Request
There are valid test cases where users want to test their app flow when a permission is not set. Adding an `unset` mode to permissions will spare the need to reset content and settings in this case.

[2017-09-19 10:50] LeoNatan opened #10 "iOS 11 Support"
Verify that iOS 11 is fully supported.

First issue:
/System/Library/LaunchDaemons/com.apple.locationd.plist doesn’t exist

[2017-09-19 20:16] LeoNatan commented on #10
It seems the simulator runtime for Xcode 9 has moved.

[2017-09-21 07:57] holleB opened #11 "Build fails due to code-signing issue"
#### Description
Current HEAD fails to build.

#### Steps to Reproduce
Checkout HEAD (21.09.17) from github.
[code]

#### Device, macOS and Xcode Versions
macOS 10.12.6, XCode 9.0 (9A235)

[2017-09-21 16:50] LeoNatan commented on #11
Are you using `brew` or building directly?
Try using `export CODE_SIGNING_REQUIRED=NO && ` before your build command (either `brew` or `xcodebuild`).

[2017-09-22 16:28] holleB commented on #11
I tried both, same error. Still failing.

[2017-09-22 16:29] LeoNatan commented on #11
Are you building using brew or manually?

[2017-09-22 16:29] LeoNatan commented on #10
Location was fixed by @erezrokah. No other known issues. Closing until otherwise.

[2017-09-22 16:29] #10 closed

[2017-09-22 16:42] holleB commented on #11
both, brew and xcodebuild. `export CODE_SIGNING_REQUIRED=NO` didn't work also. But it's a heisenbug. I can't reproduce it on my macbook, only on my dev machine besides seemingly identical xcode setup... *shrug*

[2017-09-25 12:24] holleB commented on #11
Ok, so for my setup the fix is setting `CODE_SIGN_IDENTITY` from `"-"` to `""`. Do you want a pull request for that?

[2017-10-08 07:23] dtuite commented on #11
I just hit this and either retapping or specifying `--HEAD` seemed to fix it. No idea why.

[code]

[code]

[2017-10-16 01:17] ahmedlhanafy opened #14 "A way to clear the keychain?"
#### Description
Is there any way to clear the keychain? I used to do this
[code]
 in older versions of Detox and since Detox is now using this library I wanted to know if there is a way to clear the keychain?

[2017-10-16 08:59] LeoNatan commented on #14
This is not currently possible. We’ll look into it.

[2017-10-16 10:53] LeoNatan commented on #14
This is now supported by `applesimutils`.

[2017-10-16 10:53] #14 closed

[2017-10-17 23:53] ahmedlhanafy commented on #14
@LeoNatan Thanks for the quick fix! Now, how can I clear the cache from Detox?

[2017-10-18 07:13] LeoNatan commented on #14
You need to call applesimutils directly.

[2017-10-25 10:20] LeoNatan commented on #11
@dtuite Can you please try with the latest versions?

[2017-10-26 14:15] nikolaykasyanov opened #15 ""Error: Unknown permission pass error" on CI (Jenkins)"
#### Description

AppleSimulatorUtils fails on CI with "Error: Unknown permission pass error" error. I'm using Jenkins.

Here's the command I use:

[code]

Although when I login to the build node through SSH this command works perfectly.

#### Steps to Reproduce

1. add applesimutils call to build script & push
2. make CI build it

#### Device, macOS and Xcode Versions

macOS version: 10.12.6
Xcod

[2017-10-26 15:00] nikolaykasyanov commented on #15
I investigated a bit and it seems that [`[fileManager fileExistsAtPath:versionedSectionInfoPath]`](https://github.com/wix/AppleSimulatorUtils/blob/beacf76827de0ffc9656b8c46913ff4518664230/applesimutils/applesimutils/SetNotificationsPermission.m#L65) call returns `NO` even though a file at the path exists.

Any ideas what can cause this?

[2017-10-26 15:11] nikolaykasyanov commented on #15
I added `cat <path to versioned section info file>` to my build script to check if it could be permission/sandboxing/etc issue but it works flawlessly. No idea what might cause `NSFileManager` to misbehave.

[2017-10-26 15:24] nikolaykasyanov commented on #15
Actually, location permission might be failing as well because it [doesn't check](https://github.com/wix/AppleSimulatorUtils/blob/beacf76827de0ffc9656b8c46913ff4518664230/applesimutils/applesimutils/SetLocationPermission.m#L75) whether file has been written successfully or not.

[2017-10-26 16:16] LeoNatan commented on #15
Could be that the test user Jenkins uses does not have permission to access this location—that’s a problem. Could you please see if you can elevate the user’s permissions?

[2017-10-26 16:32] nikolaykasyanov commented on #15
It seems like Fastlane is the culprit. When I run the command outside of it, it works. Sorry for the false alarm.

[2017-10-26 20:00] LeoNatan commented on #15
Cheers

[2017-10-27 07:56] nikolaykasyanov commented on #15
Well, it's not even Fastlane. The problem is that I'm erasing simulator before each CI build (with `xcrun simctl erase` command), thus making `%SIMUUID%/data/Library` folder empty, making it impossible for AppleSimUtils to write files without creating intermediate directories explicitly.

I'd say this is an important CI scenario to support, what do you think?

[2017-10-27 13:21] someTestAccount1 commented on #15
I came across this project an hour ago as parallel UITests cannot handle dismissing OS alerts on multiple devices it seems. Looks like a great solution to some simulator issues, thanks for sharing.

I can confirm that when I run the command passing in that permission it fails every time. Running it locally with needed permissions.

applesimutils --simulator $2 --bundle com.apple.test.$1-Runner --s

[2017-10-27 13:33] dtuite commented on #11
@LeoNatan will try again next time I get a chance. That might not be anytime soon though. I'll let you know.

[2017-10-27 19:52] LeoNatan commented on #15
The utility is supposed to handle that by silently booting the simulator before attempting to do what it does. `erase` does `Reset content and settings` right? I will try this scenario, thanks for reporting.

[2017-10-27 19:57] LeoNatan commented on #15
Also, I don't like this `Unknown permission pass error` error message. Somehow, no error object has propagated, which is not good. Will try to improve that also.

[2017-10-29 12:53] #15 closed

[2017-10-29 12:55] LeoNatan commented on #15
Fixed. The issue was improper handling of the first-time boot. Now, `applesimutils` properly awaits the boot process to finish before continuing with the rest of the permission modifications.

[2017-10-29 12:55] LeoNatan commented on #11
I’m closing for now. Feel free to reopen if needed.

[2017-10-30 09:37] someTestAccount1 commented on #15
Thanks for fixing. I set notifications=YES  but still get the alert when the tests run. Im using parallel tests (multiple destinations) and set permissions on all the simulators. For some reason the interruptMonitors and setting it via applesimutils doesn't dismiss the alert on all sims, only one? Have you come across this issue?

[2017-10-30 10:32] nikolaykasyanov commented on #15
@LeoNatan thanks a lot, works great!

[2017-10-30 10:42] LeoNatan commented on #15
@someTestAccount1 Not, I am not familiar with this issue. Are you sure you are running correctly for each simulator?

[2017-11-01 00:17] #11 closed

[2017-11-02 14:10] kumarpatel commented on #14
@ahmedlhanafy Did you ever figure out how to call applesimutils directly?
Here's what I've tried so far:
```await device.deviceDriver._applesimutils._execFbsimctlCommand({args: `${device._deviceId} clear_keychain`});```
```await device.deviceDriver._applesimutils({args: `${device._deviceId} clear_keychain`});```
```await device._applesimutils._execFbsimctlCommand({args: `${device._deviceId} clear_

[2017-11-02 16:58] kumarpatel commented on #14
nvm. got it working.

[code]

[2017-11-03 11:41] someTestAccount1 commented on #15
Hi, yes, I set the permissions on each simulator before running the tests. I notice the issue when not using applesimutils too, alerts only dismiss on one device. Have you guys successfully dismissed alert popups when running a ui test on multiple destinations at once?

[2017-11-03 17:45] LeoNatan commented on #15
We don't support that yet, so we haven't hit such a problem. I am not sure why it should happen. Could you please elaborate more on how you dispatch commands to your simulators?

[2017-11-06 08:36] someTestAccount1 commented on #15
Currently its a script that finds a deletes the needed simulators, recreates them, applies permissions to each created simulator using the ID, then calls xcodebuild passing in a number of simulators as destinations. Whether applying permissions or not, the interruptMonitor handler is only triggered on one of the simulators in a parallel test. This might be a bug in XCTest, I will raise one if othe

[2017-11-16 14:53] #8 closed

[2017-11-16 14:54] LeoNatan commented on #8
Implemented in 0.5.16.

[2017-11-26 07:55] LeoNatan opened #16 "Move useful functionality to ObjCCLIInfra, use that in this repo"
There is a lot of boilerplate code here that can be useful for other CLI utils. Let’s create an ‘Infra’ repo where all CLI tools can use and build upon.

For example: logging facility, a unified argument parser and usage builder, shared dependencies, etc.

[2017-11-27 00:57] #16 closed

[2017-11-30 15:36] rotemmiz opened #17 "Add filtering by device type to --list"
Some of the data presented in `xcrun simctl  list --json` seems to be missing in `applesimutils --list`

Let's add device type to the returned json , and support filtering by device type when listing devices.

[2017-12-01 12:33] LeoNatan commented on #2
Not needed.

[2017-12-01 12:33] #2 closed

[2017-12-03 12:36] #17 closed

[2017-12-03 12:47] LeoNatan opened #18 "Changelog is generated incorrectly if a commit that is supposed to close an issue is not pushed before calling release script"

[2017-12-03 12:48] #18 closed

[2017-12-04 11:53] ghsdh3409 opened #19 "Support speech recognition permission"
Could you add a permission of speech recognition? As I know, we can use `kTCCServiceSpeechRecognition` for speech recognition.

[2017-12-04 14:33] LeoNatan commented on #19
Yes. I will add it soon.

[2017-12-14 16:45] billburgess opened #21 "Feature Request: Mail Account"
#### Description
It would be massively handy to spoof or mock a mail account in the simulator to avoid getting the system alert for No Mail Accounts. Testing logic around sending email from the app is near impossible.

#### Steps to Reproduce
1. Mock or stub the MFMailComposeViewController -canSendMail to YES.
2. Alloc/Init the MFMailComposeViewController.
3. Observe the system alert that can't be

[2017-12-14 16:46] billburgess commented on #21
Unless someone has a better way to override the alloc/init of the MFMailComposeViewController to prevent the alert. It may not even be possible, but thought I'd ask.

[2017-12-15 05:30] LeoNatan commented on #21
Hi Bill, thanks for your suggestion.

While I agree that this is a problem, it's not something suitable for applesimutils. This focuses on simulator utilities and not compile-time helpers.

[2017-12-15 05:30] #21 closed

[2017-12-15 05:31] LeoNatan commented on #21
I wonder, if you add an iCloud account in your simulator, does `+[MFMailComposeViewController canSendMail]` return `YES`?

[2017-12-15 07:19] #19 closed

[2018-01-04 07:52] Crash-- opened #22 "Handle booting devices better when attempting to set a notification permission"
#### Description
Sometimes, on a CI service, detox / AppleSimulatorUtils is a bit flaky, and I had
`Error: BulletinBoard property list not found.` (on bitrise). It seems that this error has already been reported on detox repo https://github.com/wix/detox/issues/452#issuecomment-350646303 and https://github.com/wix/detox/issues/452#issuecomment-355123878

With the help of some screenshots, it appea

[2018-01-10 09:06] LeoNatan commented on #22
Running AppleSimUtils alone, I am unable to reproduce for new (never booted) or old (booted at least once) simulators. So I think this is a Detox issue after all. I think it's due to Detox booting the simulator first, then calling `--setPermissions`. @rotemmiz

[2018-01-10 09:07] LeoNatan commented on #22
@Crash-- Could you please try running the `applesimutils` command on your Mac outside of Detox? Just to test. Create a new simulator in Xcode, do not boot it, and run `applesimutils` in the same manner as Detox does, passing the correct simulator id. See if that throws the same error or succeeds.

[2018-01-10 10:59] joerichsen opened #23 "applesimutils --list hangs but sudo applesimutils --list works?"
#### Description
When I try to run

```applesimutils --list```

it just hangs.

This is with the newest version 0.5.19.

But when I run the command with sudo

```sudo applesimutils --list```

it works. So it seems to be some kind of permission issue?

#### Steps to Reproduce
* install applesimutils
* run ```applesimutils --list```
* it hangs

#### Device, macOS and Xcode Versions
MacOS High Sierra

[2018-01-10 19:55] LeoNatan commented on #23
What happens if you run `xcrun smctl list`?

[2018-01-11 07:09] joerichsen commented on #23
Thanks for looking into this :-)

```xcrun simctl list | head -5```

gives me

[code]

so that seems to work fine.

More debug info: When I look into console log and try to run

[code]

it gives me the following warnings

![image](https://user-images.githubusercontent.com/1052/34812561-773924a4-f6a6-11e7-8334-dabe2f379f2a.png)

I don't know if it runs in some sort of sandboxed homebrew environment

[2018-01-11 08:14] LeoNatan commented on #23
I don't think that's related. I also see other people getting it for unrelated reasons.

Have you made any changes to your `/usr/bin/` permissions?
When you call `--list`, all the tool does is call `usr/bin/xcrun` with `@"simctl", @"list”, @"--json”` params. I don't see any reason for it to fail, while you running the command manually succeeding.

[2018-01-11 08:15] LeoNatan commented on #23
If you run
[code]

What permissions do you get on that file?

[2018-01-11 08:30] LeoNatan commented on #22
@Crash-- Could you please upgrade by using `brew upgrade applesimutils` and see if it works better now?

[2018-01-11 09:55] joerichsen commented on #23
I get this
[code]

[2018-01-11 10:20] nikolaykasyanov opened #24 "Support xcenv"
#### Description

[xcenv](http://xcenv.org) is a tool that lets you define Xcode version on a project/directory/shell basis.
It's especially useful on CI because it's possible to have different branches using different Xcode versions to build.

As far as I can see, AppleSimulatorUtils uses full path to `xcrun` binary, thus missing xcenv shims. I'm not sure what the best way is to address it, altho

[2018-01-11 11:02] LeoNatan commented on #23
So it seems the same. This is a strange issue.

[2018-01-11 12:14] Crash-- commented on #22
Since 4h, all my builds are now failing...

It seems that :
- Now i don't need to retry the launch of the simulator (since my catch is not triggered anymore)
- But... permissions are not set even if the logs tell me so.
[code]

![after_test](https://user-images.githubusercontent.com/1107936/34825085-6341d40c-f6d1-11e7-9412-b00975c14963.png)

[2018-01-11 12:46] joerichsen commented on #23
I just debugged  in Xcode

![image](https://user-images.githubusercontent.com/1052/34826104-8bc1cd34-f6d5-11e7-94e4-0051a1f6cf8a.png)

On my machine it hangs in line 70, but if I comment the line out, everything seems to work :-)

I have no idea on why it hangs in that line, but maybe it's just on my Mac, so I'll go ahead and close this issue.

[2018-01-11 12:49] LeoNatan commented on #23
That’s not a solution. 😄
It just means you are not waiting for the process to finish.

[2018-01-11 12:52] joerichsen commented on #23
OK, inspired by https://stackoverflow.com/a/39281558 I tried moving line 70

[code]

after the readFileHandle stuff and that seems to fix the problem on my machine.

[2018-01-11 13:03] joerichsen commented on #23
I don't know if that's an OK solution - I'm not a Mac programmer 😄

[2018-01-11 13:07] LeoNatan commented on #23
Hmm interesting, let me test this.

[2018-01-11 13:38] LeoNatan commented on #24
Hello, thanks for your suggestion!

I would like to first understand what xcenv solves and how, so I can better understand what is needed.
If calling the path-most `xcrun`, perhaps a call to `which xcrun` first will solve this?

[2018-01-11 13:43] #23 closed

[2018-01-11 13:44] LeoNatan commented on #22
Oh no
I will continue looking.

[2018-01-11 13:45] nikolaykasyanov commented on #24
In a nutshell, xcenv creates a set of shims for Xcode binaries (`xcrun` included) in `~/.xenv/shims` and prepends this directory to PATH. When a command (`xcrun` for example) is performed in the shell, the respective shim is invoked, determines Xcode version and invokes the actual binary with a proper `DEVELOPER_DIR` environment variable value.

[2018-01-11 13:54] LeoNatan commented on #24
How does the shell know which shim to call?

[2018-01-11 13:55] nikolaykasyanov commented on #24
If one runs `xcrun` and `~/.xenv/shims` is first on the PATH then `~/.xcenv/shims/xcrun` will be executed.

[2018-01-11 14:22] LeoNatan commented on #24
Great. So it does seem asking the system `which` will work.

[2018-01-11 14:32] LeoNatan commented on #22
I am unable to reproduce…

[2018-01-11 14:41] joerichsen commented on #23
Awesome 👍

Just tried out the the new 0.5.21 version and it works like a charm.

[2018-01-11 14:44] LeoNatan commented on #22
@Crash-- Could you run your Detox using verbose output? I am interested to see what it says.

[2018-01-11 14:50] LeoNatan commented on #22
I tested both first-time and previously-booted devices, and both cases work.

[2018-01-11 14:54] LeoNatan commented on #23
Good!

[2018-01-11 15:05] Crash-- commented on #22
I just downgraded to 0.5.19 and my workaround still works.

I'm currently talking with bitrise to see if I can get an access to share here in order to debug. It's such a pain to test and break my current CI pipeline.

Will come back to you with verbose log soon

[2018-01-14 08:02] #24 closed

[2018-01-14 08:03] LeoNatan commented on #24
I just added implementation and will release 0.5.22. Please try and see if it is properly supported.

[2018-01-15 09:02] LeoNatan commented on #22
Hey,
Any news on this issue? I am unable to reproduce.

[2018-01-15 09:54] nikolaykasyanov commented on #24
@LeoNatan thank you! Works great.

[2018-02-11 16:54] #22 closed

[2018-02-14 14:26] sinewave440hz opened #25 "Cannot start a new simulator using the applesimutils command."
#### Description

I have been having trouble using Detox (I've been seeing problems with starting and restarting the app and also setting permissions, as has been discussed elsewhere and that I will take up in the relevant places). This led me to testing applesimutils directly just as a sanity check. However, I had problems starting a new simulator as per [these instructions](https://github.com/wi

[2018-02-14 19:02] LeoNatan commented on #25
applesimutils does not support starting a simulator. If you notice, the `restartSB` command restarts **SpringBoard**, which is the home screen process.

What problem are you running at in Detox? Are you running the latest version of ASU?

[2018-02-14 21:05] sinewave440hz commented on #25
Interesting, I guess I misinterpreted the instructions that I linked to above then. It sounded very much to me like that that's what was under test in that issue... I am basically having trouble running detox with my custom typescript and jest setup. But I will address that more specifically in another issue. This one can be closed, because restarting when the simulator is active works fine!

[2018-02-14 21:05] #25 closed

[2018-02-14 22:07] LeoNatan commented on #25
If it’s a help question about Detox, please use Stack Overflow. We do not have the capacity to answer help questions in issues. Thanks

[2018-06-05 16:12] lewisbrotchie opened #26 "iOS Healthkit Permissions not being set"
#### Description
We're using healthkit in our app and attempting to run e2e tests in Detox. When providing health as an argument for ```launchApp()``` it does not set the permission for allowing access to "Steps" and "Mindful Minutes", so the permission sheet still shows which times out any other tests.

#### Steps to Reproduce
The way i've been setting the permissions is as follows (to ensure it'

[2018-06-05 18:01] David-Dwornick opened #27 "Support user login permission"
#### Description
![login_alert 2](https://user-images.githubusercontent.com/6088234/40993957-eda03ddc-68c8-11e8-9d6e-6a23ae04200d.png)

We have an application that uses SFAuthenticationSession, which users are prompted by dialog to accept.  Is it possible to add support so we are able to accept this alert?

[2018-06-25 18:20] etaiklein commented on #26
👍

[2018-09-24 12:06] LeoNatan commented on #27
Could you please create a demo project which triggers this prompt? I might be able to take a look.

[2018-09-24 12:21] LeoNatan commented on #27
Reading the documentation, I don't think this is possible. The consent dialog appears every time you use the API, so it's not possible to fake that other than mocking this API for your tests.

[2018-09-24 12:21] #27 closed

[2018-09-24 13:36] noomorph opened #29 "Installation fails with XCode 10: brew install wix/brew/applesimutils"
Looks like there is an installation bug on a system with XCode 10:

#### Steps to reproduce

1. Install XCode 10.0 on a clean MacOS 10.13.6
2. Install [Homebrew](https://brew.sh): `/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"`
3. Add a tap: `brew tap wix/brew`
4. Install AppleSimulatorUtils: `brew install wix/brew/applesimutils`.

#### Expected

[2018-09-24 15:19] LeoNatan commented on #29
Thanks, I’ll look at this tomorrow.

[2018-09-25 07:50] LeoNatan commented on #26
Could you please provide the code necessary for requesting Steps and Mindful?

[2018-09-25 13:16] billburgess commented on #29
Having same issue on my end as well.

[2018-09-25 14:46] billburgess commented on #29
Is this something that can be overridden via command line? My issue is that this step fails on CircleCI and there isn't anything I can do about it. If I can force it before hand to prevent this, can try. Otherwise stuck waiting for them to update their image.

[2018-09-25 15:14] noomorph commented on #29
@billburgess , as a wild guess, you might try compiling it manually for your CI: https://github.com/wix/homebrew-brew/blob/master/AppleSimulatorUtils-0.5.22.tar.gz

It's not too complex, just run `./buildForBrew.sh <your-bin-folder-you-have-write-access-to>`. If you have already Xcode 9.4+ installed, the script should just pass. Then just export a folder with the built binary to $PATH env variable

[2018-09-25 15:17] billburgess opened #30 "Install fails on CircleCI"
#### Description
Installation fails when running install command on CircleCI
brew install applesimutils --HEAD

### Output from CircleCI

[code]

#### Steps to Reproduce
In my config, using Xcode 10.0.0 (which is using build 254a instead of 255) and installing the tap and installing.

- brew tap wix/brew
- brew install applesimutils --HEAD

In all previous runs, these steps work without issue. For

[2018-09-25 15:22] billburgess commented on #29
I assumed as much. Appreciate the help and feedback. I'll see what I can do.

[2018-09-25 15:30] billburgess commented on #30
This is actually a duplicate of #29, closing this.

[2018-09-25 15:30] #30 closed

[2018-09-25 15:57] LeoNatan commented on #29
This seems like a brew issue. They mess up their environment variables when the environment isn't as expected (CLT from matching Xcode).

[2018-09-27 12:53] alubeck opened #31 "Can't install applesimutils 0.5.2 for XCode10 ?"
Hi there :/

#### Description

Installation for applesimutils via
[code]
doesn't work out and ends up with an ```** BUILD FAILED **```  A further important extract from the error log could be probably this:
[code]

#### Steps to Reproduce
Just try to install appleSimulatorUtils via homebrew.

#### Device, macOS and Xcode Versions
[code]

The whole error log can be found [here](https://gist.github.

[2018-09-27 13:19] alubeck commented on #31
Okay I should better read first ...
https://github.com/wix/AppleSimulatorUtils/issues/29  :(

Sorry for that.

[2018-09-27 13:19] #31 closed

[2018-09-27 13:59] LeoNatan commented on #31
Go into the System Update (either in App Store or System Preferences, depending on your operating system version) and update your command line tools to the latest.

[2018-09-27 15:27] LeoNatan commented on #31
I’ve updated the readme with this information.

[2018-09-28 18:46] fedeerbes opened #32 "Support TouchID functionality"
#### Description

I want to know if there is a way to test TouchID, currently i'm using Detox as e2e framwork, and i have touchID logic in my app. It would be nice simulate success and failure and interactions with system alerts binding to the process.

[2018-10-02 09:09] K-Be opened #34 "applesimutils adds same records into TCC.db"
#### Description
applesimutils insets same records into TCC.db on iOS simulator 12.x.

#### Steps to Reproduce
1. Install XCode 10 with iOS 12.0 sdk.
2. Install applesimutils 0.5.22
3. Launch:
`     applesimutils --byOS "12.0" --byName "iPhone SE" --bundle "com.wix.Tst" --setPermissions "photos=YES, notifications=YES, reminders=YES,location=inuse"`
4. Open TCC.db in some SQLite viewer.
5. Execute

[2018-10-02 10:31] LeoNatan commented on #34
Thanks
Is this issue only on iOS 12, or is it more strict?
I wonder if this is an issue with all tcc.db access so far.

[2018-10-02 14:32] K-Be commented on #34
I did not face with this feature before iOS 12.0.

[2018-10-03 14:15] #34 closed

[2018-10-03 17:17] LeoNatan commented on #32
I have found a way to implement Touch ID/Face ID enrollment as well as matching and non-matching. Will implement this today.

[2018-10-03 17:19] fedeerbes commented on #32
Great news @LeoNatan, thanks!

[2018-10-03 17:57] #32 closed

[2018-10-03 22:47] jeremyclee commented on #29
@billburgess How did you end up resolving the CLT mismatch in CircleCI?

[2018-10-04 15:48] billburgess commented on #29
I never ended up getting it working. I'm still waiting on CircleCI to update the Xcode 10 image. My hopes are now pinned on the Xcode 10.1 beta being in line and hoping my tests pass there.

[2018-10-04 17:55] LeoNatan commented on #26
Ping

[2018-10-08 14:27] lewisbrotchie commented on #26
`[self.healthStore requestAuthorizationToShareTypes:writePermissions readTypes:readPermissions completion:^(BOOL success, NSError *error) {
                    if (!success) {
                        NSLog(@"Error with HealthKit authorization: %@", error);
                        resolve(@(NO));
                        return;
                    } else {
                        dispatch_async(dis

[2018-10-23 03:33] LayMuiToh opened #36 "How to disable push notifications"
applesimutils version 0.5.22

My app is in react native and running a test using the iOS simulator to automate the login screen
however whenever I launch my app in the iOS simulator, there is a push notifications popup

1. Build the app via the command
react-native run-ios --configuration Debug --simulator="iPad (5th generation)"
2. Start the appium server
npm run start:appium
3. Start the e2e tes

[2018-10-23 08:17] LeoNatan commented on #36
AppleSimUtils is agnostic to your developer environment. You should call it with the set permissions command after you install your app on the simulator and before running your tests.

[2018-10-23 08:17] #36 closed

[2018-10-24 03:01] LayMuiToh commented on #36
@leoNatan, thanks I got this works by adding  "autoAcceptAlerts": "true" to the desired Capabilities in my package.json

[2018-10-25 07:40] LayMuiToh opened #37 "appium web driver clear() didn't work on the iOS simulator"
// wd example let element = await driver.elementByAccessibilityId("SomeAccessibilityID");
await element.clear();

the clear() does not work. the textfield didn't get cleared.

appium: 1.9.1
wd: 1.11.0
xcode: 10

[2018-10-25 07:57] LeoNatan commented on #37
I am sorry, what does this have to do with AppleSimUtils?

[2018-10-25 07:57] #37 closed

[2018-10-25 08:49] LeoNatan commented on #37
I still fail to see what it has to do with this project.

[2018-11-11 10:01] LeoNatan commented on #26
Sorry, I haven't had time to look yet, but haven't forgotten.

[2018-11-20 17:50] fbartho opened #38 "iCloud Keychain Alert Dialogs / Keychain Permissions"
#### Description

If you make an app that has keychain password integration, some alert dialogs appear that ask you if you want to save the password in your keychain. -- Is there a permissions flag that will bypass this dialog?

We would try to get detox to dismiss the dialog, but it can't find it in the hierarchy. :(

![image 2](https://user-images.githubusercontent.com/209712/48792645-9d732f80-e

[2018-11-20 18:17] LeoNatan commented on #38
This is not a persistent setting I can modify on disk. So unfortunately, there is little I can do to help here. I suggest mocking your API so that it is not shown by the system.

[2018-11-20 18:17] #38 closed

[2018-11-22 15:42] ywongweb opened #39 "Set location permission not working"
#### Description
Setting location through CLI causes location to stop working

#### Steps to Reproduce
Start the wix detox test app, there is a button that retrieves location.

set the permission
`applesimutils --byId <device_id> --bundle com.wix.detox-example --setPermissions "location=always"`

Now click on get location in the demo app, it will show "location unavailable". No matter what you set

[2018-11-26 21:12] BoazWarshawsky opened #40 "Open simulator with microphone enable"
Sorry for the very limited details, and sorry for using this place for asking question of how to use the tool.
My question is how I can launch simulator with microphone enable? and by that avoid the message of: “Xcode.app” would like to access the microphone.

Thanks

[2018-11-27 00:42] LeoNatan commented on #40
I don't think this is related to AppleSimUtils. This is the Mac's own privacy control firing up as for some reason the Simulator needs permission to the microphone. While the two systems are quite the same (tcc), modern macOS security will prevent any tampering of the TCC database on the Mac itself unless you have SIP disabled (you shouldn't). Either way, this sounds more like an Apple bug than an

[2018-11-27 00:42] #40 closed

[2018-12-07 18:08] diegolmello commented on #39
Probably related to https://github.com/wix/Detox/issues/1080

[2018-12-13 09:55] dkpalmer commented on #29
In a project I work on I've worked around this issue by upgrading the command line tools manually:

[code]

Unfortunately this adds a couple minutes to the build, but we only need the `applesimutils` for our e2e builds which are less frequently run.

[2018-12-13 10:06] LeoNatan commented on #29
Why do you need to install this every time? Why not install the tools once, and then it will use them.

If it's an external service, please open a ticket with them, or move to Mojave.

[2018-12-13 17:04] dkpalmer commented on #29
@LeoNatan Sorry, I was more referring to @billburgess' comment specifically about CircleCI, where their stock images are either (Xcode 10 + Node 10) or (Xcode 10.1 + Node 11). I have added a ticket with them.

[2018-12-13 17:06] billburgess commented on #29
@dkpalmer I've gotten word back from CircleCI that they are on the latest version of the tools if you target Xcode 12.1. Otherwise they have a script you can run to install the latest version as needed.

[2018-12-13 23:20] dkpalmer commented on #29
@billburgess We opted to stick with their Xcode 12.0 image because we want to stay on Node 10 and they don't bundle `nvm`. Path of least resistance still seems to be manually upgrading the CL tools for a single job instead of manually installing `nvm` across multiple jobs.

[2018-12-18 15:26] Nick-Lucas opened #41 "Installing old version against xcode 9"
#### Description

We are trying to install applesimutils on a new developer's machine and receive this error:

[code]

Because of React Native limitations we can't yet upgrade to XCode 10, and are stuck on XCode 9, so we need to install an older version of applesimutils.

We can't figure out how to install `0.5.23` as homebrew doesn't provide a canonical way to achieve this, and messing around wit

[2018-12-18 15:32] LeoNatan commented on #41
This is unrelated to applesimutils.

You are running macOS 10.14, so brew requires you to install Xcode 10. This is a design choice they've made and we can't change that. Open an issue with brew.
Brew also doesn't properly support versions, so there is little I can do to help.

You can do a workaround where you have Xcode 10 and Xcode 9 installed side by side. Set 10 as the default and install app

[2018-12-18 15:32] #41 closed

[2018-12-18 15:46] Nick-Lucas commented on #41
Thanks Leo, we'll look into this!

[2019-01-01 19:32] lizatniche commented on #41
@Nick-Lucas any traction on this? running into the same issue.

[2019-01-02 11:41] Nick-Lucas commented on #41
@lizatniche unfortunately not. Christmas holidays came around so we haven't looked at it.

The suggestions above do look useful, but after my colleague sunk half a day failing to make it work I've suggested we instead focus on getting our project updated for xcode 10, as the path to this looks to be well travelled by others.

<rant>I realise this problem is caused by decisions made up the chain, b

[2019-02-28 13:07] Motti-Shneor opened #44 "Something very basic missing from the Wiki/Readme/Documentstion."
#### Description

#### Steps to Reproduce

#### Device, macOS and Xcode Versions

[2019-02-28 13:13] #44 closed

[2019-03-06 15:29] rodrigorm opened #45 "applesimutils --list --byType iPhone XR" --byOS "12.1" hangs"
#### Description

When I try to run

[code]

it just hangs.

But when I run

[code]

`applesimutils --list` works too.

I am using the version `0.6.4`.

#### Steps to Reproduce

- Install applesimutils
- Run `applesimutils --list --byType iPhone XR"`
- It hangs

#### Device, macOS and Xcode Versions

macOS High Sierra 10.13.6 (17G5019)
Xcode 10.1 (10B61)

[2019-03-06 15:38] rodrigorm commented on #45
I have found that the "iPhone XR" is the problem, when I run using "iPhone 7" or other name its works.

[2019-03-06 19:19] LeoNatan commented on #45
Most likely, you are misspelling XR. Make sure to list all devices and see the correct spell.

[2019-03-06 20:46] rodrigorm commented on #45
You are right, reading the output carefully I have found the problem, I have copied the name from `.name` property instead of `.deviceType.name` wich is `"iPhone XR"` and `"iPhone Xʀ"` respectively according to the following output excerpt:

[code]

Thanks for your quick answer, and sorry for taking your time.

[2019-03-06 20:46] #45 closed

[2019-03-06 20:51] LeoNatan commented on #45
Hehe, no worries.

It used to be "XR", I think, but then they restyled it later.

[2019-03-15 17:49] FFDeveloper opened #46 "can't install applesimutils. Getting Build Failed"
I'm simply trying to install applesimutils by  `brew tap wix/brew && brew install applesimutils`
but i'm getting this error:
[code]
This is my `brew config`:
[code]

[2019-03-15 17:52] LeoNatan commented on #46
Can you please provide the full build log?

[2019-03-16 08:25] FFDeveloper commented on #46
[code]

[2019-03-16 08:26] FFDeveloper commented on #46
buildForBrew.sh.cc
[code]

[2019-03-16 08:51] LeoNatan commented on #46
Please try the instructions in this issue and see if they help:
https://github.com/SOHU-Co/kafka-node/issues/881

[2019-03-16 09:50] FFDeveloper commented on #46
Thanks! Solved all the brew doctor warnings and now it works!

[2019-03-16 09:51] LeoNatan commented on #46
Thanks

[2019-03-16 09:51] #46 closed

[2019-03-27 08:54] Kamahl19 opened #47 "Installation fails"
#### Description
I went through all the "Installation fails on xcode10" issues and tried everything. But still, `brew install applesimutils` fails for me

#### My `brew config` prints:
[code]

I have proper Xcode utils set in Xcode preferencies
![image](https://user-images.githubusercontent.com/1591293/55062267-dc5d2b80-5075-11e9-9038-5c06ab949044.png)

#### Device, macOS and Xcode Versions
Macboo

[2019-03-27 09:08] LeoNatan commented on #47
Please provide the full build log.
The log is under ~/Library/Logs/Homebrew/applesimutils

[2019-03-27 09:11] Kamahl19 commented on #47
[code]

[2019-03-27 09:19] LeoNatan commented on #47
Seems similar issue to #46
Please run `brew doctor` and follow instructions.

[2019-03-27 09:22] Kamahl19 commented on #47
Yea I saw that one. I have some header files in the `usr/locale/includes` however not the one mentioned in the issue. Does it mean I should remove them all? Wont it break some other brew installation?

[code]

[2019-03-27 09:23] LeoNatan commented on #47
See here:
https://github.com/golang/go/issues/25240

Seems indeed related to /usr/local/include

[2019-03-27 09:24] LeoNatan commented on #47
Same here:
https://github.com/havoc-io/mutagen/issues/58

[2019-03-27 09:25] Kamahl19 commented on #47
Thanks a lot! Removing the `rm /usr/local/include/block.h` helped

[2019-03-27 09:25] #47 closed

[2019-03-27 09:25] LeoNatan commented on #47
In the comments someone recommends deleting the block.h header file. I'd say it's better to move it.

[2019-03-27 09:26] LeoNatan commented on #47
👍

[2019-05-24 03:03] mymai91 opened #48 "Need to solve conflict"
**Description**
Conflict at /usr/local/Homebrew/Library/Taps/wix/homebrew-brew/applesimutils.rb

**Steps to Reproduce**
Steps to reproduce the behavior:

[code]

**Expected Behavior**
install applesimutils

**Screenshots**

<img width="1375" alt="Screenshot 2019-05-24 at 10 59 35 AM" src="https://user-images.githubusercontent.com/6791942/58299998-8f969680-7e13-11e9-91f5-89420b56a63f.png">

**Envir

[2019-05-24 05:53] llostris opened #49 "Unable to install applesimutils on a system with Xcode 9.4"
**Description**
Unable to install applesimutils on a system running Xcode 9.4.
It results in an error:
[code]

The error started occurring today, it is probably related to the release of version 0.6.5

If you are describing an issue with `brew install`:
- [ ] I've run `brew doctor` and fixed all issues

**Steps to Reproduce**
Steps to reproduce the behavior:
On bitrise, run image `Xcode 9.4.x on m

[2019-05-24 08:05] LeoNatan commented on #49
Hmm right, I made a change to require Mojave. I might not be as informed to all the users. I’ll make it available for Xcode 9/HS. Or is there need for further back?

[2019-05-24 08:07] LeoNatan commented on #48
This looks like a brew issue. Please run `brew doctor` to see if there any issues.

[2019-05-24 08:08] liamjones commented on #48
brew doctor also complains about it:

[code]

[2019-05-24 08:10] reneeichhorn commented on #48
Same happens for me. Not sure what you mean with its a brew issue. Seems like you have uploaded the conflict to brew

[2019-05-24 08:11] LeoNatan commented on #48
https://github.com/wix/homebrew-brew/blob/master/applesimutils.rb

The file does not have that issue.

[2019-05-24 08:16] reneeichhorn commented on #48
After installing it is in `/usr/local/Homebrew/Library/Taps/wix/homebrew-brew/applesimutils.rb` for me as well. So maybe the uploaded release contains that somehow

[2019-05-24 08:16] LeoNatan commented on #48
https://stackoverflow.com/a/12752156

Please try to follow this. Notice the comment regarding Taps.

[2019-05-24 08:17] LeoNatan commented on #48
There is no “release” for brew formulae. It’s just the git repo, and the file is fine there.

[2019-05-24 08:24] LeoNatan commented on #48
Please try:

[code]

[2019-05-24 08:29] liamjones commented on #48
Did the tap repo have a force push at some point or have history rewritten? I'm seeing a divergence locally:

[code]

[2019-05-24 08:31] LeoNatan commented on #48
Yes, that happened.

[2019-05-24 08:35] liamjones commented on #48
Ah, okay. `git reset --hard origin/master` worked for me.

[2019-05-24 08:36] LeoNatan commented on #48
I think `brew untap wix/brew && brew tap wix/brew` is easier to run. It should cleanly clone the most recent master.

[2019-05-24 09:03] LeoNatan commented on #49
0.6.6 is out with support for Xcode 8 & 9, macOS Sierra & High Sierra

[2019-05-24 09:03] LeoNatan commented on #48
Guys, please confirm `brew untap wix/brew && brew tap wix/brew` works for you.

[2019-05-24 09:05] #49 closed

[2019-05-24 09:26] reneeichhorn commented on #48
Yes, thanks @LeoNatan works fine for me now

[2019-05-24 09:27] LeoNatan commented on #48
Thanks. I will update the readme with these commands.

[2019-05-24 09:27] #48 closed

[2019-05-24 16:37] llostris commented on #49
Yes, that fixed the issue, thanks for a quick fix!

[2019-05-24 17:45] RockinRonE opened #50 "Unable to install. "Expecting keyword_end" erros"
**Description**
Ran the install commands `brew tap wix/brew`, which worked, and then `brew install applesimutils` which failed.

If you are describing an issue with `brew install`:
- [x] I've run `brew doctor` and fixed all issues

**Screenshots**
`Error: applesimutils: /usr/local/Homebrew/Library/Taps/wix/homebrew-brew/applesimutils.rb:4: syntax error, unexpected <<, expecting keyword_end
<<<<<<<

[2019-05-24 17:45] LeoNatan commented on #50
Please read the readme.

[2019-05-24 17:45] #50 closed

[2019-05-24 17:47] LeoNatan commented on #50
Also, I doubt you've done this because doctor complains about the conflicts there.

[2019-05-24 17:57] RockinRonE commented on #50
I didn't realize it was a blocker to installing. Brew says to not mind the warnings, I'll address them.

[2019-05-24 18:04] LeoNatan commented on #50
I tap and tap should solve it.

[2019-05-24 18:07] RockinRonE commented on #50
For some reason it was a merge confilct in appsimutils.rb. I resolved this and now it works.

[2019-05-28 12:52] mymai91 commented on #48
@LeoNatan Thanks so much

[2019-05-28 13:17] alexliuxe opened #52 "Is there a way I can integrate it to unit test?"
**Is your feature request related to a problem? Please describe.**
I have a unit test to test notifications, I need this to be able to turn on simulator notification permissions

**Describe the solution you'd like**
Able to run it before running test automatically, to be integrated into Xcode or swift code?

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2019-05-28 13:30] alexliuxe commented on #52
Should I import the files and call this function directly?
`setNotificationsStatus`

[2019-05-28 13:31] LeoNatan commented on #52
Do you have an XCTest target or XCUITest target? If the former, you should run the commands in a script phase before running your tests.

[2019-05-28 13:35] alexliuxe commented on #52
I have XCTestCase for sure. I will try it now.
Thanks for you fast reply!!!

[2019-05-28 13:37] LeoNatan commented on #52
You can add a call like this in the scheme settings:

<img width="1384" alt="Screen Shot 2019-05-28 at 16 35 53" src="https://user-images.githubusercontent.com/2270433/58482281-c1d32b80-8166-11e9-918c-528df3b8e010.png">

There should be an environment variable that contains the simulator id, so you can use `--byId …` in your command.

[2019-05-28 13:38] LeoNatan commented on #52
Or you can add a script phase in your target. The above suggestion has the benefit of running only when testing and not when building.

[2019-05-28 15:26] alexliuxe commented on #52
I did with scheme way, and set something like this in the script.

`applesimutils --byId "E30C688A-1EA5-40EC-AFD5-AEBAD7XXXXXX" --bundle "com.abc.xxx" --setPermissions "notifications=YES"`

Just want to make sure that, bundle is my App bundle right?
It doesn't seem like it worked though.

[2019-05-28 15:34] LeoNatan commented on #52
First, make sure the script is running.
Are you sure you are providing the correct simulator id?
Bundle is the app bundle, yes.

If you add `--restartSB` to the command, do you see a change?

[2019-05-29 14:48] LeoNatan commented on #52
Cheers!

[2019-06-03 15:12] Desintegrator commented on #6
Have same issue xcode 10.1

`xcrun simctl list devices` shows:

-- iOS 10.2 --
    iPhone 5s 10.2 (A86D0F25-0A31-4E26-B843-662BB715A758) (Shutdown)
    iPhone 6 (B0F904AB-F0E0-4680-B611-7CD405592AD5) (Shutdown)
    iPhone 6 Plus (7967BA29-3033-4376-96F5-2AFCD7892633) (Shutdown)
    iPhone 6s (0A64B869-DEDA-42B8-9F9E-3B8A35044934) (Shutdown)
    iPhone 6s Plus (109F57EA-6324-4BC9-9A02-ED088B76CDD3)

[2019-06-03 16:12] LeoNatan commented on #6
@Desintegrator Please open a new issue.

[2019-06-04 09:36] Desintegrator opened #53 "Can not find simulators"
**Description**
applesimutils can not find any simulators.

`xcrun simctl list devices` shows:

-- iOS 10.2 --
iPhone 5s 10.2 (A86D0F25-0A31-4E26-B843-662BB715A758) (Shutdown)
iPhone 6 (B0F904AB-F0E0-4680-B611-7CD405592AD5) (Shutdown)
iPhone 6 Plus (7967BA29-3033-4376-96F5-2AFCD7892633) (Shutdown)
iPhone 6s (0A64B869-DEDA-42B8-9F9E-3B8A35044934) (Shutdown)
iPhone 6s Plus (109F57EA-6324-4BC9-9A02-E

[2019-06-04 09:48] Desintegrator commented on #53
applesimutils reinstalling (this upgrade applesimutils version from 0.6.2 to 0.6.8) solved this isuue

[2019-06-04 09:48] #53 closed

[2019-06-04 09:50] LeoNatan commented on #53
Always use latest version before opening issues.

[2019-06-05 15:27] billburgess commented on #53
I'm seeing this issue on version 0.6.6.

[2019-06-05 15:32] billburgess commented on #53
Should I open a new issue for this or do you want to reopen it @LeoNatan?

[2019-06-05 16:03] LeoNatan commented on #53
Please open a new issue and provide the necessary information, such as Xcode command line utils version, etc.

[2019-06-05 16:16] billburgess opened #54 "Simulators are not found, getting [ ]"
**Description**
Running `applesimutils --list` is not returning a list of available simulators as expected.
Running `xcrun simctl list devices` returns a full list of available devices that should be found.

[code]

[code]

**Environment**
- macOS version: 10.14.5
- Xcode version: 10.2.1
- Command Line Tools: 10.2.1
- applesimutils: 0.6.6

**Additional Context**
I have untapped and retapped per th

[2019-06-05 16:30] LeoNatan commented on #54
Wow, I reproduced this. Investigating.

[2019-06-05 16:32] LeoNatan commented on #54
So I managed to reproduced only after installing the Xcode 11 beta. Did you do the same?

[2019-06-05 16:32] billburgess commented on #54
Yes. I have the beta installed.

[2019-06-05 16:33] LeoNatan commented on #54
I think I remember something about there being only a single simulator runtime, and once Xcode is updated, the runtime goes up. So something must have changed in the format.

[2019-06-05 16:35] billburgess commented on #54
Do you think removing Xcode 11 beta will fix the issue?

[2019-06-05 16:35] LeoNatan commented on #54
I'm not sure. Still, I wouldn't expect you to. I am investigating.

[2019-06-05 16:47] LeoNatan commented on #54
Found it. Will release a new version now.

[2019-06-05 16:57] LeoNatan commented on #54
Please try 0.6.7

[2019-06-05 16:57] #54 closed

[2019-06-05 19:22] billburgess commented on #54
Confirmed fixed in 0.6.7. Thanks for the quick turnaround.

[2019-06-15 17:18] pdaw commented on #26
@LeoNatan any news?

[2019-06-15 17:26] LeoNatan commented on #26
Sorry, I have not yet looked. Will try to do it soon.

[2019-06-17 03:01] LeoNatan commented on #41
Just wanted to mention that there is now a workaround in applesimutils where you can install even with older Xcode.

[2019-06-18 11:28] OrLevy23 opened #55 "applesimutils byName hangs on circle ci"
**Description**
I've just encountered that when using applesimutils --byName 'iPad Pro (12.9-inch) (2nd generation)'... that the script hangs and does not finish (neither success nor failure).
issue only happen to me on CI (circle ci) and does not recunsruct on local machine, note that i've entered CI machine on ssh and verified that the device by name exist.
when switching to applesimutils --byId

[2019-06-18 11:30] LeoNatan commented on #55
Does `applesimutils --list` work as expected on the machine?

[2019-06-18 11:33] OrLevy23 commented on #55
@LeoNatan  yes, and the device appear on the list

[2019-06-18 16:58] LeoNatan commented on #55
Could you please run the following command in CI:

[code]

Let it get stuck, hit CTRL+C and type `bt`. Post the output here.

Thanks

[2019-06-18 17:30] bvisin commented on #55
Seeing this same problem for the last few days on Travis.

[2019-06-18 18:16] LeoNatan commented on #55
Please perform the above request and provide the info. It will help me debug this. Thanks

[2019-06-19 04:44] bvisin commented on #55
It looks to be solved for me in CI when I updated `detox` and `applesimutils` to the latest versions.

[2019-06-19 06:50] OrLevy23 commented on #55
getting a lot of `NameError: name 'run_one_line' is not defined
Traceback (most recent call last):
  File "<string>", line 1, in <module>`

[2019-06-19 10:42] LeoNatan commented on #55
@OrLevy23 Once it seems hanged in lldb (process not ending), hit CTRL+C to interrupt and type `bt`.

[2019-06-19 12:57] OrLevy23 commented on #55
[code]

[2019-06-19 12:59] LeoNatan commented on #55
That's no hang, it succeeded in returning a list with all devices named `iPad Pro (12.9-inch) (2nd generation)`. As you can see,

[2019-06-19 13:00] OrLevy23 commented on #55
i know, the entire script does hang

[2019-06-19 13:04] LeoNatan commented on #55
OK, so pass those parameters to lldb, instead of `--list`.

[2019-06-19 13:05] LeoNatan commented on #55
[code]

[2019-06-19 13:12] OrLevy23 commented on #55
it seems to be stuck at `2019-06-19 06:11:19.757733-0700 simctl[32268:50720] MessageTracer: Falling back to default whitelist
Traceback (most recent call last):
  File "<string>", line 1, in <module>
NameError: name 'run_one_line' is not defined
2019-06-19 06:11:20.439943-0700 simctl[32274:50756] MessageTracer: Falling back to default whitelist`

[2019-06-19 13:32] LeoNatan commented on #55
That's a message from the debugger, not the applesimutils process. Unfortunately, without the information requested, I cannot investigate, as I am unable to reproduce the issue.

[2019-06-19 14:09] OrLevy23 commented on #55
will try to retrieve logs and update

[2019-06-19 14:55] LeoNatan commented on #26
So, investigated this for a while. There is healthdb.sqlite which tracks of which apps are registered with HK and also, in a different table, which data type have been granted read and/or write permission, per type. For the last part, I didn't find a way to obtain all data types programmatically somehow. I guess I could spam with some range, like 1-200 types and give or take permission to all, fo

[2019-06-19 16:33] LeoNatan commented on #55
I might know what the issue is. Before running `applesimutils`, please try running `xcode-select --install`.
I saw such a stall on my machine when moving between Xcode 10 and Xcode 11.

[2019-06-19 17:08] OrLevy23 commented on #55
getting `xcode-select: error: command line tools are already installed, use "Software Update" to install updates`

[2019-06-19 17:12] OrLevy23 commented on #55
managed to see `Error: BulletinBoard property list not found.`, don't know if it's helpful or not.

[2019-06-19 17:14] LeoNatan commented on #55
Oh I see. I’ll look into this. I think it’s an error I print.

[2019-06-19 17:39] LeoNatan commented on #55
Well, I still can't figure out why this would happen. I thought it might be that notification permission doesn't handle newly booted devices correctly, but that is not the case (tested myself).

The reason it "stalls" is that it a timeout period of 30 seconds, where it tries to find the file once a second. This is to give the system some time if it is booting the first time and the daemons take so

[2019-06-19 17:53] LeoNatan commented on #55
To test, please run the following script:

[code]

Let it run (do not CTRL+C) until finish and post output. Thanks

[2019-06-20 07:08] OrLevy23 commented on #55
[code]

[2019-06-20 08:07] OrLevy23 commented on #55
[code]

[2019-06-20 15:29] LeoNatan commented on #55
Everything seems in order, all folders are there. Not sure what to tell you.

[2019-06-21 16:58] djangofan opened #56 "Can't find a simulator to match with..."
**Description**
A clear and concise description of what the bug is. If you are seeing a regression, try to provide the last known version where the issue did not reproduce.

Using the Ignite-CLI Bowser template,  when I try to run `yarn test:e2e`  (while I have a iPhone X simulator running;  I have Xcode 10.2.1, applesimutils 0.6.8),   I get this error.  NOTE: When I run `xcrun simctl list`, the o

[2019-06-21 17:18] LeoNatan commented on #56
Hello,

You seem to have confused several things.
First, you have posted a Detox problem on the AppleSimulatorUtils issue tracker. Second, the text you have quoted does not say you should edit `AppleSimUtils.js`, it tells you where the error was thrown. As with any exception, it tells you where the exception was thrown. Last, you seem to misunderstand how Detox chooses the simulator to use. It tak

[2019-06-23 14:53] LeoNatan commented on #55
I'll add more logging to the next version and maybe those will shed some light on the problem.

[2019-06-23 19:28] LeoNatan commented on #26
Added support for HealthKit in iOS 12.0 simulators and above. Will release a version soon.

[2019-06-23 19:28] #26 closed

[2019-06-23 20:00] LeoNatan commented on #55
OK, just released version 0.7.0 with additional logging.

In a seperate terminal (or using tmux), run `log stream --level debug --style compact --process applesimutils`

Then reproduce the issue (again, without killing it using CTRL+C) and post the log output here.

Thanks

[2019-06-30 07:58] LeoNatan commented on #55
Ping

[2019-06-30 07:59] OrLevy23 commented on #55
will check again today.

[2019-06-30 08:00] LeoNatan commented on #55
Thanks

[2019-06-30 15:53] OrLevy23 commented on #55
it looks like it stuck on:
`2019-06-30 08:51:37.497 A  applesimutils[32535:d197] (libsystem_info.dylib) Retrieve User by ID`

[2019-06-30 15:56] LeoNatan commented on #55
That's not from applesimutils. Not sure what that is.

[2019-07-30 11:40] redbluenat opened #57 "TypeError: Cannot read property 'identifier' of undefined"
**Description**
I have a problem from this lib during running detox tests, simulators for react native works okay.

**Screenshots**
detox[17229] ERROR: [DetoxExportWrapper.js/DETOX_INIT_ERROR]
 TypeError: Cannot read property 'identifier' of undefined
    at AppleSimUtils.create (/.../node_modules/detox/src/devices/ios/AppleSimUtils.js:100:100)

**Environment**
 - macOS version: 10.14.5
 - Xcode v

[2019-07-30 11:43] LeoNatan commented on #57
If you run `applesimutils --list`, do you get a list of devices?

[2019-07-30 14:09] redbluenat commented on #57
@LeoNatan yes, I have looooong list here is a part of it:

`    "isAvailable" : true,
    "state" : "Shutdown",
    "name" : "iPad Pro (10.5-inch)"
  },
  {
    "availabilityError" : "",
    "os" : {
      "bundlePath" : "\/Library\/Developer\/CoreSimulator\/Profiles\/Runtimes\/iOS 12.2.simruntime",
      "availabilityError" : "",
      "buildversion" : "16E226",
      "availability" : "(available

[2019-07-30 14:11] LeoNatan commented on #57
OK, so this is a Detox issue. Moving.

[2019-08-05 22:04] abunsen opened #58 "FaceID needs permissions."
**Description**
AppleSimUtils Touch/FaceID support is missing the ability to toggle the OS level permissions, in the same way that camera, location, etc need OS level permissions.

**Steps to Reproduce**
1. Add FaceID to your app (in our case, we're using `react-native-touch-id`) - code here:

[code]
2. Attempt to use FaceID
3. You're met with a prompt like the following:
![Image from iOS](https:/

[2019-08-13 17:36] brandons commented on #58
+1 I'm not sure how anyone is able to use the Face ID utils without this.

[2019-08-13 18:30] brandons commented on #58
@abunsen PR up to add ability to toggle FaceID permission setting. Can you test and let me know if this works for you? https://github.com/wix/AppleSimulatorUtils/pull/59

[2019-08-13 18:35] #55 closed

[2019-08-13 19:01] #58 closed

[2019-08-13 19:05] LeoNatan commented on #58
0.7.1 out with fix by @brandons
Thanks!

[2019-09-03 17:46] billburgess opened #61 "Support for Bluetooth Permission"
Starting in iOS 13, just touching the CBCentralManager will trigger a permission dialog for Bluetooth. This tool has been vital to bypassing system dialogs in unit testing. It makes sense for this library to support this if possible.

[2019-09-03 17:48] LeoNatan commented on #61
I'll take a look at this when possible. PRs are welcome.

[2019-10-14 13:50] santiagofm opened #62 "--clearKeychain breaks keychain until you reboot the simulator"
**Description**
Upon upgrading to Xcode 11.1 we started seeing an error when trying to access the Keychain from e2e on our app, the native API throws the following error:
[code]

After some investigation we found that the issue arises after clearing the keychain using applesimutils:
[code]

We need to reboot the simulator for it to work again.

**Steps to Reproduce**
https://github.com/santiagofm/

[2019-10-14 14:00] LeoNatan commented on #62
I kill the securityd daemon, delete and start it again, which should take care of itself. I will take a look when I have time. In the meantime, you can add `--restartSB` to reboot the simulator.

[2019-10-14 14:15] santiagofm commented on #62
@LeoNatan That did not work.
Seems like a Xcode 11.1 issue because building & running with Xcode 11 works fine!

[2019-10-14 14:28] santiagofm commented on #62
@LeoNatan Why not `xcrun simctl shutdown` & ``xcrun simctl boot` instead of messing with the securityd daemon?

[2019-10-14 14:32] LeoNatan commented on #62
Because this is much faster, if it works. There is no messing; `launchctl` is responsible for daemons and its API is public and well documented. I need to check why the daemon is not recreating its files when launching. Maybe the daemon changed its name in macOS/iOS 13.

[2019-10-14 15:41] #62 closed

[2019-10-14 15:44] LeoNatan commented on #62
Fixed in 0.7.3

[2019-10-15 10:15] patchthecode opened #64 "More information on this (question)"
Hi, I am unclear on what this project does based on the readme page.
I saw it mentioned permissions
[code]

Does this mean it has the ability to disable permissions for an app?
Maybe a more user friendly readme will help some like me. thanks.

[2019-10-15 11:15] LeoNatan commented on #64
This is a tool that is usually used in automation tools, such as Detox and Appium. As such, quoting the `--help` output is enough.

You use this command to set specified permissions (enabled, disabled or unset) for an app. This is useful when running tests and you do not want the system alerts to appear.

[2019-10-15 11:15] #64 closed

[2019-10-15 11:24] patchthecode commented on #64
thank you

[2019-10-15 11:31] LeoNatan commented on #64
Is there something specific you are looking for?

[2019-10-15 11:35] patchthecode commented on #64
Yes, I am looking to see how you prevented iOS permission messages from appearing, as I need it in a project I am working on. I could not tell if this project had this. But you have made it clear to me that it does. So thank you.

[2019-10-15 11:38] LeoNatan commented on #64
The code you see here will only work on iOS Simulator, and cannot be run from the process you are running.

[2019-10-15 11:41] patchthecode commented on #64
I am sorry, but can you explain a bit more?

I understand this.

But you lost me here

[2019-10-15 12:05] LeoNatan commented on #64
The code in this repo modifies system database files to add the appropriate permission for the specified bundle. This might be possible on the simulator the app process, but the way runtime permissions work on iOS, you will need to terminate the app process, sometimes a daemon has to be stopped before modifying permissions, and in some cases, you need to restart the SpringBoard process in order fo

[2019-10-15 13:55] patchthecode commented on #64
Thanks for the explanation.
I understand now.
I will not worry, I have a way to make this all work together.
Thanks again.

[2019-10-21 10:34] blairroebuck opened #65 "When Using 'faceid--unmatch' my app is fully dismissed and doesn't give time to use an alert."
**Description**
Im sure this is more of an implementation discrepancy but hopefully someone can offer some help.

The utility correctly issues the 'NO' command when the prompt shows. however the application under test try to give the user the ability to 'Try Again'. or 'cancel' via an on screen alert.

Im trying to test this max retry of the 'Try Again' button, but at current I can't because as so

[2019-10-21 10:59] LeoNatan commented on #65
I’m sorry, I’m not sure I fully understand what the issue is.

[2019-10-21 11:07] blairroebuck commented on #65
It is indeed difficult to explain and I sadly cant share a photo or video because of the application under test.

Essentially when opening the application from the springboard, I'm immediately prompted with a biometric challenge. The util correctly identifies this, and when passing it the 'YES' value, it unlocks the app.

When I pass it the 'NO' value, the real world experience we expect is that y

[2019-10-21 11:23] LeoNatan commented on #65
I think you are not using the tool correctly. `applesimutils --setPermissions faceid=YES` gives the Face ID permission to your app. To mach or fail a mach, use the `--matchFace` and `--unmatchFace` APIs.

[2019-10-21 11:29] blairroebuck commented on #65
Sorry, I did a terrible job of most of the comments, I'm working on a few different PR's and got muddled.

I'm using --matchface and --unmatchface parameters. The above described is the behaviour I'm seeing when using --unmatchface.

[2019-10-21 12:50] LeoNatan commented on #65
OK, I think this is not possible. The entire Touch ID/Face ID prompt is presented by a different process, and the only notification sent to the app is in the cases of success and failure of the entire process.

Why are you testing for that? The entire biometric authentication process is off-process and is Apple. You should not be testing if Apple is behaving correctly, only that your app behaves c

[2019-10-21 12:55] blairroebuck commented on #65
Thanks for the response @LeoNatan , I'm glad I managed to explain it a bit clearer (sorry again).

I'm trying to confirm that after X failed biometric attempt, our app displays the correct message that the user is now unable to authenticate via faceID, and that they now have to log in manually.

The current behaviour of the util is that it dismisses the FaceID prompt, but closes the whole prompt w

[2019-10-21 14:08] blairroebuck commented on #65
@LeoNatan  when using the simulator menu, it behaves as expected, after clicking 'Non-matching Face'. it fails the Face ID and leaves me looking at the 'Face not recognised - try again' prompt.

Using it via the util command effectively clicks cancel on the prompt.

[2019-10-31 10:25] LeoNatan commented on #65
I haven’t looked yet, unfortunately. If you’d like to assist in debugging, I’d appreciate it. The simulator process throws system notifications when the menu items are selected. Inspect those and compare to the notifications sent from applesimutils (you can find them in the code).

[2019-10-31 19:38] LeoNatan commented on #65
I can't reproduce the problem. When using `unmatchFace`, the system correctly displays the "Try again" message. It seems this prompt is broken, because the "Try Again" button doesn't work.

[Screen Recording 2019-10-31 at 21.26.34.mov.zip](https://github.com/wix/AppleSimulatorUtils/files/3795501/Screen.Recording.2019-10-31.at.21.26.34.mov.zip)

[2019-10-31 19:45] LeoNatan commented on #65
Touch ID also works:

[Screen Recording 2019-10-31 at 21.44.17.mov.zip](https://github.com/wix/AppleSimulatorUtils/files/3795555/Screen.Recording.2019-10-31.at.21.44.17.mov.zip)

[2019-10-31 19:45] LeoNatan commented on #65
There is no reason why it shouldn't work, because the notification sent by selecting the menu items are the same as the ones sent from applesimutils.

[2019-11-07 16:51] billburgess opened #66 "Notification Permission not setting for Xcode 11.1"
**Description**
My local builds are no longer setting the Notification permission for iOS 13.1 devices. I haven't updated anything in my project recently. It may be related to a recent update as I recently upgraded from 0.7.4 to 0.7.6.

The issue seems isolated to runtime 13.1. The same suite of tests and commands works perfectly on iOS 12.2.

**Steps to Reproduce**
I'm running my test suite with

[2019-11-15 01:58] #65 closed

[2019-11-15 02:02] LeoNatan commented on #66
Thanks, I will take a look soon.

[2019-12-16 14:59] billburgess commented on #66
This is still an issue on Xcode 11.3. Any updates on getting this to work?

[2019-12-16 15:59] LeoNatan commented on #66
I will look at it probably tomorrow.

[2019-12-17 08:58] LeoNatan commented on #66
Can't reproduce this on the default 13.2.2 runtime. Downloading the 13.1 runtime now to check.

[2019-12-17 09:50] LeoNatan commented on #66
@billburgess I can't reproduce with the 13.1 runtime either.

This is the code I am using in my sample app:

[code]

The output is correctly "<granted>".

[2019-12-18 18:13] billburgess commented on #66
I can't seem to recreate this issue in Xcode 11.2 (iOS 13.3). I'm not sure if this was actually an issue or not. I'll close this issue for now and I'll keep an eye on it. Sorry for the trouble.

[2019-12-18 18:19] LeoNatan commented on #66
Thank you!

[2020-01-15 12:14] LeoNatan commented on #66
We're seeing this sporadically as well.
From investigation, it seems that SpringBoard is responsible for writing to the VersionedSectionInfo.plist file. I suspect there is a condition where SpringBoard flushes its own cached file contents just after using applesimutils, which invalidates the change. Investigating.

[2020-01-22 15:55] billburgess opened #67 "Notification Permission not setting for Xcode 11.3"
I know there is an open issue for this tied to 11.1. This issue is back with a vengeance with the latest version of Xcode 11.3.1. It is happening on virtually all of my test runs, local and CI. The other issue is not allowing comments, so I wanted to ping you with a new issue to see if we can look into this. Thanks in advance.

[2020-01-22 19:51] billburgess commented on #67
The notification permission is set correctly using Xcode 11.3.1 when using older runtimes. I can run against 10, 11, and 12 and the notifications are set correctly. It's only when running against iOS 13.3.

[2020-01-22 19:52] LeoNatan commented on #67
Thanks for checking. Most likely things moved again, or something changed in the way notifications are saved.

[2020-01-22 22:51] LeoNatan commented on #67
Unfortunately, unable to reproduce. Running applesimutils for an iOS 13.3 simulator, notification permissions are set correctly for `YES` and `NO`.

[2020-01-23 15:20] billburgess commented on #67
Could this be an issue with macOS or bash? Or a verbose option to see what happens during the script run?

[2020-01-23 15:22] billburgess commented on #67
[code]

This is the script I use before launching my test suite. Do you see any issues with this kind of setup?

[2020-01-23 16:05] LeoNatan commented on #67
I don't see anything wrong. I'm not sure what the instruments line does, but I assume it boots the device? BTW, it shouldn't be necessary to boot the device before setting permissions.

[2020-01-23 16:09] LeoNatan commented on #67
Could I ask you to clone this repo and run the demo app in the repo? It's just a test app which tests for different permissions. Try setting only notification permission to YES and clicking the button in the test app.

[2020-01-23 16:10] billburgess commented on #67
The instruments line does boot the app. I can remove it if it isn't needed for any of the sims. Will speed my suite up quite a bit not having to sleep 30 for each run. I'll report back on the demo app.

[2020-01-23 16:15] LeoNatan commented on #67
It should work without booting, as everything is performed on static files on the disk.

Thanks

[2020-01-23 16:25] billburgess commented on #67
Ok, the same app does not work for me. Here is what I did.

1. Created a brand new iPhone 11 test device on iOS 13.3 (used device manager in Xcode)
2. Navigated in terminal to the sample folder of the repo.
3. Ran this command `applesimutils --byName "AppleUtilsTest" --bundle "PermissionsTest" --setPermissions "notifications=YES"`
4. The command in terminal took about 15 seconds before it complete

[2020-01-23 16:26] LeoNatan commented on #67
I think I see the problem. That is not the bundle. The bundle is the bundle identifier of the app.

[2020-01-23 16:28] LeoNatan commented on #67
The longer run time is because it's a new simulator, the files don't exist. So applesimutils boots the device silently so the files are created. That's still shorter than 30 seconds. The next run will take a lot less.

[2020-01-23 16:31] billburgess commented on #67
In my app at least, the bundle is very short and is actually `simpleinout`.

I created a new device, retested with the right bundle name and it worked. So... what am I doing wrong with my main runs and test suite that is different than this?

[2020-01-23 16:33] LeoNatan commented on #67
OK, if it works, lets try to weed out the cause... Try running the same script you are running in production, but for the test app. Then see if it works.

[2020-01-23 16:39] billburgess commented on #67
Ok, test 3. I created the device via command line like my suite does. Set permissions with my script (subbing the sample app bundle and device). I got a weird message that I didn't before.
 `/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS.simruntime/Contents/Resources/RuntimeRoot/System/Library/LaunchDaemons/com.apple.loc

[2020-01-23 16:47] billburgess commented on #67
I removed the 30 second wait from my build script and ran my tests locally again, and it worked this time. I'll keep running it to see if it fails again, or I can add the wait back and see if that causes it to fail.

[2020-01-23 16:53] LeoNatan commented on #67
I find that an odd reason to be the cause. A booted simulator shouldn't be causing the issue.

[2020-01-23 17:22] billburgess commented on #67
I wouldn't think so either. I tried another test with the sample app and it didn't affect it at all. So I'm not sure. There does seem to be some randomness to it, but I still can't quite figure it out.

[2020-01-23 17:24] LeoNatan commented on #67
So your own app still fails?
Also, when running for the test app, are you setting all the permissions together, as you do for your own app? Maybe that somehow influences it...

[2020-01-23 18:42] billburgess commented on #67
I removed the sleep from my script as well as the call to pre-start the simulator and it worked this time. The sample app has worked every time no matter what I do to it. Sleep, pre-start, the sample always works.

[2020-01-29 13:09] LeoNatan commented on #67
I've released a new version with a proposed fix/workaround. Could you pls test and see that things work better now for you? @billburgess

[2020-01-29 13:11] billburgess commented on #67
I’ll give it a go when I get to the office later this morning. Thanks for looking into this.

[2020-01-29 14:16] LeoNatan commented on #67
Great, thanks!

[2020-01-29 14:17] LeoNatan commented on #66
Closing this issue in favor of the other one.

[2020-01-29 14:17] #66 closed

[2020-01-29 15:34] billburgess commented on #67
I reverted to the changes in my scripts with the simulator pre starts which is where I usually had issues. So far, no issues with the new changes. I'll keep an eye on it and let you know if I run into any issues with it.

[2020-01-29 16:25] LeoNatan commented on #67
Great. We hope for the best.

[2020-01-29 16:44] billburgess commented on #67
I'll ping you if it happens again. Thanks for the help.

[2020-02-05 22:39] LeoNatan opened #68 "The end of AppleSimUtils?"
From Xcode 11.4 beta release notes:

![simctl](https://user-images.githubusercontent.com/2270433/73889672-e7c5d980-4878-11ea-872e-7149ac507bb6.png)

We will need to reevaluate our need for this tool following this development. We may want to just passthrough user commands to the built-in system in case of Xcode 11.4, while keeping the legacy systems in place for backwards compatibility.

[2020-02-05 22:58] billburgess commented on #68
Any reason to think this won’t work with older runtimes or the need to have branched logic? This is great news, hopefully it will work with any runtime.

[2020-02-05 23:07] LeoNatan commented on #68
The runtimes will work. I meant backwards compatibility with older Xcode versions. Xcode 11.4 requires Catalina, so I'm pretty sure many will not hurry to update. But in that case, AppleSimUtils can be deprecated and left as-is. We use it for other stuff as well (filtering of simulators and other stuff), so we'll need to think what to do with the tool.

[2020-02-06 01:50] billburgess commented on #68
Sounds good. Not sure what the future holds for this tool, but I’m forever grateful for it. Thanks for all the hard work you’ve put into it.

[2020-02-06 18:17] billburgess commented on #68
I downloaded the 11.4 beta to test things out, and it doesn't currently include support for notifications. :/ Using the command:

`scrum simctl privacy help` will output everything available. Notifications isn't listed at the moment. I'll likely file a radar for this, but if this permission is omitted from release, it won't be viable at all for CI testing.

Here is the full output from the help co

[2020-02-06 18:20] LeoNatan commented on #68
AppleSimUtils lives on! 🙃

Looks like these are the TCC permissions only (notifications isn't).

[2020-02-06 18:20] billburgess commented on #68
What is a TCC permission?

[2020-02-06 18:23] billburgess commented on #68
I've added a radar to try and get them to add this before it goes live. If anyone following this would like to dupe it, it would be appreciated. FB7566372.

[2020-02-06 18:24] LeoNatan commented on #68
TCC stands for "Transparency, Consent, Control". It's one of the mechanisms Apple has for limiting access to data. Most runtime permissions are handled by this is system. There is a database (TCC.db) where each permission sits when granted, and a daemon (tccd) which is responsible for management of this system.

[2020-02-06 18:26] LeoNatan commented on #68
More permissions are missing, such as Bluetooth and health.

[2020-02-06 18:26] billburgess commented on #68
Ah, but notifications lives outside this paradigm? Odd that they are all presented and handled very similar, but notifications lives outside this.

http://www.openradar.appspot.com/radar?id=5029865547890688

I'll do my best to see if they can improve this before launch, but if it ends up being left out, then the need for this tool will remain. I'm not sure I'd even use the native stuff myself in f

[2020-02-06 18:27] LeoNatan commented on #68
Notifications are handled fully in Springboard. There is a plist file which includes all the permissions.

[2020-02-06 18:28] billburgess commented on #68
Good point. Forgot to add those to my radar. But could dupe it with mine and request those.

[2020-02-06 18:29] LeoNatan commented on #68
I'm opening a feedback now with a more general title "missing services".

[2020-02-06 18:29] billburgess commented on #68
Sounds good

[2020-02-06 18:31] LeoNatan commented on #68
FB7566382

[2020-02-06 18:32] billburgess commented on #68
Have you cloned this to open radar yet? I'd like to copy your text and title.

[2020-02-06 18:36] LeoNatan commented on #68
Sure: https://openradar.appspot.com/radar?id=5034242388000768

[2020-02-06 18:38] billburgess commented on #68
Duped

[2020-03-21 03:34] zeritte opened #69 "Error: The data couldn’t be read because it isn’t in the correct format.. See “applesimutils --help” for usage."
**Description**
I am trying to build a react native app on circleci by using reactnativecommunity/react native orb. Using the latest version. However when it comes to `applesimutils --list` part it fails with the following error:
`Error: The data couldn’t be read because it isn’t in the correct format.. See “applesimutils --help” for usage.`

`xcrun simctl list devices` shows devices.

**Steps to

[2020-03-22 13:55] springcoil commented on #69
+ 1 this one.

[2020-03-22 15:12] zeritte commented on #69
`xcrun simctl list --json` also works

[2020-03-22 15:19] LeoNatan commented on #69
Hi guys,

Can you please state what Xcode and what version of AppleSimUtils you are using?

Thanks!

[2020-03-22 15:24] zeritte commented on #69
AppleSimUtils version is 0.7.7
Xcode 10.1
Build version 10B61
this is running on circle ci fyi.

[2020-03-22 15:30] LeoNatan commented on #69
Unfortunately, 10.1 is very old version of Xcode. If you can, please use a newer version of Xcode, such as 10.3, or find an older version of AppleSimUtils that works with your version.

[2020-03-22 15:32] zeritte commented on #69
hey!
Thank you for quick response. I will try to make the versions match.
Have a good day

[2020-03-22 15:32] #69 closed

[2020-03-22 16:32] LeoNatan commented on #69
If you find a version of AppleSimUtils that works, I can compare to see what could have caused the issue. Let me know.

[2020-04-03 13:56] #67 closed

[2020-07-22 21:36] AidenMontgomery opened #70 "Error setting permissions under iOS 14"
**Description**
I am having a problem setting the permissions for an application using Xcode 12 and iOS 14. I came across this issue when trying to run Detox to see if anything is broken after upgrading Xcode and iOS.

This is the error that I see

[code]

**Steps to Reproduce**
Install Xcode-Beta (Xcode 12)
Use Xcode-select to switch to Xcode-Beta command line tools
Attempt to update the permissi

[2020-07-22 23:00] LeoNatan commented on #70
TCC.db format must have changed...

I'll take a look at this soon. Probably all TCC.db permissions are broken current for iOS 14.

[2020-07-26 15:42] LeoNatan commented on #70
applesimutils 0.8 out with iOS 14 support

[2020-07-26 15:42] #70 closed

[2020-08-03 19:25] LeoLlopiz opened #71 "“applesimutils --list” does not work when using CircleCI"
I am having the same issue as in this PR, but it was not resolved: https://github.com/wix/AppleSimulatorUtils/issues/69#issue-585421192

**Description**
I am trying to build a react native app on CircleCI by using reactnativecommunity/react native orb. Using the latest version. However when it comes to `applesimutils --list` part it fails with the following error:
`Error: The data couldn’t be read

[2020-08-03 19:50] LeoNatan commented on #71
The latest version has been tested with Xcode 11.5, 11.6 and 12 beta.

I'm not sure what is going on. That error seems to happen when attempting to decode the json returned from `xcrun simctl list --json`.

[2020-08-03 20:12] LeoLlopiz commented on #71
I can confirm that this issue happens on both Xcode 11.5 and 11.6.

[2020-08-04 00:52] LeoNatan commented on #71
Locally or on CI? Can you test locally?

Also, could you run `xcrun simctl list --json` and post here?

[2020-08-04 14:38] LeoLlopiz commented on #71
It works as expected locally, but it doesn't work on CI.

Here are the results of `xcrun simctl list --json` on CI:

[code]

[2020-08-04 16:34] LeoNatan commented on #71
I think I understand the problem. It's bad usage of NSTask on my part. I will fix this soon!

[2020-08-11 16:08] LeoNatan commented on #71
Please try with 0.8.1. Thanks

[2020-08-11 19:09] LeoLlopiz commented on #71
After running CircleCI again, now instead of producing the above error, I get:

`Launch path not accessible. See “applesimutils --help” for usage.`

[2020-08-12 01:37] LeoNatan commented on #71
Hmmm

[2020-08-13 19:57] watadarkstar commented on #71
@LeoNatan I'm also getting this locally when I run:

[code]

[code]

On the latest code with the latest Mac version. Only works if I use `sudo`

[2020-08-13 20:06] LeoNatan commented on #71
I will look at this soon. I don't access any privileged executable.

[2020-08-13 20:08] watadarkstar commented on #71
@LeoNatan @LeoLlopiz

I was able to solve it by downgrading because the latest version has issues and requires `sudo`. I did this:

brew install https://raw.githubusercontent.com/wix/homebrew-brew/3e0f0157a3824bbfe84fbaaddc1ebce621703be9/applesimutils.rb to install applesimutils 0.6.7

[2020-08-13 20:12] watadarkstar commented on #71
Thanks for the quick reply @LeoNatan !

[2020-08-13 20:31] LeoNatan commented on #71
You can use 0.8.0, it's before a change I did for this issue, which must have caused this issue of root.

[2020-09-22 14:23] xvasko commented on #71
Hey, having the same issue

`$ applesimutils --list`
`Launch path not accessible. See “applesimutils --help” for usage.`

II was able to solve it previously by running:

`brew install https://raw.githubusercontent.com/wix/homebrew-brew/3e0f0157a3824bbfe84fbaaddc1ebce621703be9/applesimutils.rb`

as @watadarkstar sugested, but now I'm getting

`Error: Calling Installation of applesimutils from a Git

[2020-09-22 15:20] watadarkstar commented on #71
@xvasko I also got that issue. Are you running this inside your CI/CD pipeline? And if so what are you using for CI/CD?

[2020-09-22 15:22] LeoNatan commented on #71
I will look at this soon. The problem is, I don't know which of the binaries is failing. So I will at least try to add a more descriptive error message so we know where it fails.

[2020-09-22 15:30] LeoNatan commented on #71
Ahh it requires sudo. That's odd. I did make a change where in order to run `which <binary>`, I use the current shell path, so that `PATH` paths are also considered. Maybe some off configuration in CI causes this to require admin rights? I will remove this and release a version.

[2020-09-22 15:33] watadarkstar commented on #71
@LeoLlopiz Yeah it requires sudo for me in CI and even locally. In CI I got it to work by just using the pre-installed `applesimutils` but I was lucky that Bitrise includes `applesimutils` by default.

[2020-09-22 15:58] LeoNatan commented on #71
OK please try using 0.8.2 to see if that helps.

[2020-09-23 08:23] xvasko commented on #71
@LeoNatan Thanks for the quick update! Works like a charm with 0.8.2 :)

@watadarkstar I was running it locally only.

[2020-09-23 17:23] LeoNatan commented on #71
Great, thanks for the update.

[2020-09-23 17:23] #71 closed

[2020-09-23 17:24] LeoNatan opened #72 "Add support for StoreKit configuration files"
Need to investigate how Xcode injects those.

[2020-10-07 05:35] HackingGate opened #73 "Support for iOS 14 track permission"
Starting in iOS 14. AppTrackingTransparency framework is required to get device’s advertising identifier.
Details here https://developer.apple.com/app-store/user-privacy-and-data-use/

[2020-10-07 12:29] LeoNatan commented on #73
Hello,

Can you please provide a small, native (not RN) example project where this API is invoked?

Thnaks

[2020-10-07 14:12] HackingGate commented on #73
@LeoNatan

I added example in #74

I also took a look into [Singular-SKAdNetwork-App](https://github.com/singular-labs/Singular-SKAdNetwork-App). Both IDFA(legacy) and SKAdNetwork use the same logic to request permission.
Changing title.

[2020-10-07 14:13] LeoNatan commented on #73
Cool, thanks!
I’ll try looking into it soon.

[2020-10-29 15:41] nicollecastrog commented on #71
Posting this in case this helps someone:

**My scenario**

- Using Xcode 11.7 both locally and on CI
- Using `applesimutils` version 0.8.2 both locally and on CI
- `applesimutils --list` working locally but not on CI
- `sudo applesimutils --list` working locally **and** on CI
- [underlying command](https://github.com/wix/AppleSimulatorUtils/blob/44779252045e5574f820d36c10322daafa14f648/applesimuti

[2020-11-17 12:37] TharaniP opened #75 "Unable to bypass permission alerts in ios while performing integration testing."
Hi, I am trying to bypass the permission alerts in ios while performing integration testing using flutter driver. To perform that, i have installed "applesimutils" in my system and written the below line inside app_test.dart file:

   Process.run('applesimutils', ["--byId", 'deviceId', "--bundle", 'bundleId', "--setPermissions", "notifications=YES"]);

While executing the integration test, app is

[2020-11-17 12:54] LeoNatan commented on #75
Do you get any error? The tool is tested on many CI machines and environments, especially with Xcode 11.3.1. You might be calling it incorrectly.

[2020-11-17 13:32] TharaniP commented on #75
I am getting this error: VMServiceFlutterDriver: Instance of '_WebSocketImpl' is closed with an unexpected code 1005.

[2020-11-17 14:14] LeoNatan commented on #75
I’m sorry, this is telling me nothing. This tool is not a flutter tool. Run this in your command line, with all the arguments, and see what error you are getting there.

[2020-11-17 14:16] billburgess commented on #75
It looks like it is being called from inside the test, which would cause the sim to restart and make the test fail for odd reasons.

[2020-11-17 14:17] LeoNatan commented on #75
@billburgess Do you mean the springboard restart? I think that is synchronous inside applesimutils

[2020-11-17 14:18] billburgess commented on #75
Right, but if called on the sim while it was running tests would cause issues.

[2020-11-17 14:21] TharaniP commented on #75
I am calling before this line:- driver = await FlutterDriver.connect();
so at that time test cases will not be running.

[2020-11-17 16:20] LeoNatan commented on #75
Please run the command in Terminal and post the output here. Thanks

[2020-11-18 06:03] TharaniP commented on #75
I want to run this command:- applesimutils --byId deviceId --bundle com.xxxx.xxxxx --setPermissions "notifications=YES, location=inuse, camera=YES, photos=YES, microphone=YES”.

To run the above command do i need to specify any path?

[2020-11-18 08:08] LeoNatan commented on #75
No, no path. Just make sure to pass a proper simulator id (not “deviceId”).

[2020-11-19 10:48] TharaniP commented on #75
After running this command:  applesimutils --byId simulatorId --bundle com.XXXX.XXXX --setPermissions "notifications=YES,location=inuse,camera=YES,photos=YES,microphone=YES” in terminal, its expecting the user to enter something. But i did not get any error.

[2020-11-19 14:26] LeoNatan commented on #75
?

I’m sorry, but you are running it wrong.

[2020-11-23 16:40] #75 closed

[2020-11-26 16:17] LeoNatan opened #76 "Add "clear media" command"
@valentynberehovyi

[2020-11-26 16:43] LeoNatan commented on #76
Hm, still some issues :(

[2020-11-26 16:51] #76 closed

[2020-11-26 17:22] #73 closed

[2020-11-26 17:31] LeoNatan commented on #61
Hi Bill,

Looping into this. I can't seem to trigger bluetooth permission alerts on the simulator... Any code examples I can use to investigate?

[2020-11-27 14:35] billburgess commented on #61
@LeoNatan Bluetooth does not work in the Simulator no matter what I try. I have not been able to trigger this warning in the sim as of yet. It is possible that someone would bump into it if running tests on an actual device.

[2020-11-27 15:18] LeoNatan commented on #61
Yes, but Apple**Simulator**Utils is about Apple simulators. 😂

[2020-11-27 15:19] LeoNatan commented on #61
I saw the string related to this in the framework, but it seems impossible to trigger on simulators. So closing the issue for now. If you trigger it, let me know and I'll reopen. Thanks.

[2020-11-27 15:19] #61 closed

[2020-11-27 15:21] billburgess commented on #61
Yeah, saw the new permission when I made this, but hasn't ever been an issue in practice.

[2020-12-17 21:02] billburgess opened #77 "Not working on M1 based Macs"
When running the command on a newly set up Mac (M1 Based MacBook Pros) an error is thrown.

[code]

**Steps to Reproduce**
applesimutils --byName "iPod touch (7th generation)" --bundle "myappdomain" --setPermissions "notifications=YES, location=always, contacts=YES"

**Expected Behavior**
Should set permissions and reset running sim.

**Environment**
macOS 11 (Big Sur)
Xcode 12.3

**Additional Con

[2020-12-20 08:58] LeoNatan commented on #77
Hi Bill,

I think this is an Apple bug, but let's debug it. I just released a new version with debug logging. Please install that on your m1 machine, and execute the following command:

[code]

Thanks

[2020-12-21 18:35] billburgess commented on #77
Here is the output from the debugged run. I think I may have a line on the problem though. We did not see this error when it ran against phone devices. The error only showed up when the command ran against the iPod Touch (7th generation) device. Is the permissions file in a different location or does that device have unsupported permissions? My users shouldn't have chosen that device, but curious

[2020-12-21 20:46] LeoNatan commented on #77
Thanks

Can you also please correlate the `Invalid device state` error messages with the corresponding debug log?

[2020-12-22 16:33] billburgess commented on #77
These error messages only showed up when running the tool against the iPod Touch. I did not see this error for any other device.

[2020-12-22 18:40] LeoNatan commented on #77
Interesting, I will try to reproduce this on iPod Touch locally. So as a workaround, you guys can use an iPhone simulator, and everything works as expected?

[2020-12-22 18:46] billburgess commented on #77
Correct. Not as big an issue as I initially thought. Higher ups have newer machines and were having issues. I'm passing debug info along as an intermediary. Anecdotally, the tests did run and the permissions did appear to set in spite of the error message.

[2020-12-23 10:37] LeoNatan commented on #77
I managed to reproduce the issue on an "iPod touch (7th generation)". Investigating

[2020-12-23 11:04] #77 closed

[2020-12-23 11:04] LeoNatan commented on #77
Fixed in 0.9.2

[2020-12-23 14:10] billburgess commented on #77
Thanks for looking into this!

[2020-12-25 08:07] candialala opened #78 "Probabilistic error "must provide a launch path" when setting permissions."
## The problem
Applesimutils probabilistic error "must provide a launch path" when setting permissions.

## Environment
Appium version: 1.19.0
Mobile platform/version: Simulator iphone11 14.0
applesimutils version: 0.9
xcode version：12.0

## Logs
2020-12-25 07:02:08:503 - [debug] [BaseDriver] Event 'newSessionStarted' logged at 1608850928503 (07:02:08 GMT+0800 (China Standard Time))
2020-12-25 07:

[2021-02-03 14:08] rafaelDevloft commented on #77
For any future readers: i had the same issue. I solved by making sure the whole environment (node etc) was using the arm architecture instead of rosetta.

[2021-02-27 12:59] #68 closed

[2021-02-27 13:00] #72 closed

[2021-03-02 15:42] raldred opened #79 "clearKeychain An error was encountered processing the command"
**Description**

When running with --clearKeychain we receive an error:
[code]

**Steps to Reproduce**
Steps to reproduce the behavior:

Boot a simulator
Run `applesimutils --booted -l`
Observe simulator info with state booted
Run `applesimutils --byId <udid> --clearKeychain`
See error above

**Expected Behavior**
A clear and concise description of what you expected to happen.

It should clear the

[2021-04-21 18:22] billburgess opened #81 "Error when running in a VM"
**Description**
I'm trying to install permissions on my sim when running inside a VM for our CI builds. The version we have is throwing an error when trying to set permissions.

This is from our iOS 11 device.
[code]

If I run the same command against a newer runtime, it crashes out like this:

[code]

Using version 0.9.2

**Steps to Reproduce**
Steps to reproduce the behavior:
```applesimutils --

[2021-04-27 17:37] billburgess opened #82 "Error using iOS 14.5 sims"
**Description**
When trying to set permissions on an iOS device running 14.5, I am getting an error.

[code]

**Steps to Reproduce**
Try to set app permissions with the following setup:
[code]

**Expected Behavior**
Simulator to boot, permission to be set.

**Environment**
 - macOS version: Big Sur 11.3
 - Xcode version: 12.5, iOS 14.5

**Additional Context**
I was seeing a similar issue in the re

[2021-05-20 19:59] billburgess commented on #82
I think I may have some further information. New simulators when Terminal doesn't have permission to write to files (that weird XPC permission requirement that pops up). If you don't have permission to write files it will error out and cause problems.

[code]

[2021-05-21 09:32] torcoste commented on #72
Hi,

Is there any updates about this issue?

[2021-05-27 13:48] youngfreeFJS opened #83 "When trying to set location permissions, get an error."
**Description**
when use appleSimulatorUtils with appium, i get an error:

`2021-05-27 20:32:03:027 [W3C] Encountered internal error running command: Error: Cannot execute "applesimutils --byId 248559EC-E217-42AB-B08F-59ED840DAFE8 --bundle com.meituan.imeituan --setPermissions location\=always". Original error: 2021-05-27 20:32:03.003 applesimutils[95846:7981591] *** Terminating app due to uncaugh

[2021-05-27 13:51] billburgess commented on #83
This might be a duplicate of my issue, https://github.com/wix/AppleSimulatorUtils/issues/81. I have a couple issues outstanding for the utility throwing errors or not working. I have found that it seems to work on freshly made sims, but errors out on sims that have had the utility run on them previously. Not sure if this is related or not, but thought I'd mention it.

[2021-05-27 14:08] youngfreeFJS commented on #83
Thanks for your reply. It seems like a duplicate issue.
Is there a repair plan for this problem? :)

[2021-05-27 14:10] billburgess commented on #83
I haven't heard yet. I've been able to stay out in front due to our CI creating new devices before each run. Has been less of an issue, but still an issue when running things locally.

[2021-06-02 09:15] youngfreeFJS commented on #83
@LeoNatan

[2021-06-03 18:05] LeoNatan commented on #83
I am no longer involved with project or the company, sorry.

[2021-06-04 06:16] youngfreeFJS commented on #83
@LeoNatan Thanks for your reply, and who is maintaining this project now? :D

[2021-06-04 12:52] billburgess commented on #83
@LeoNatan Sorry to hear you are not with this project any longer. Thanks for the many years of assistance and fast turnarounds on issues and questions. Best of luck to you!

[2021-06-05 16:20] LeoNatan commented on #83
@youngfreeFJS Wix, _apparently_ 😂

@billburgess 🍻

[2021-07-20 14:29] billburgess opened #84 "Error when upgrading to 0.9.4"
**Description**
I took the update to 0.9.3 this morning without issue. The hot fix to 0.9.4 throws an error.

**Steps to Reproduce**
Steps to reproduce the behavior: `brew upgrade applesimutils`

**Expected Behavior**
Upgrade should complete without error.

**Output**
[code]

I did remove the file and try again and I get the same error.

**Environment**
 - macOS version: macOS 11.4

[2021-07-20 15:24] billburgess commented on #84
Agreed, I tried again and it is passing. Thanks for the update.

[2021-07-20 15:24] #84 closed

[2021-07-20 19:43] noomorph commented on #84
Just in case if someone will get this issue locally, try running **brew update** before upgrading **applesimutils**.

We only recently took over the deployment scripts, and it seems that one of the scripts has an error in calculating SHA256 sums. Today I had to recalculate shasums manually and patch our brew recipe in an extra commit.

[2021-07-28 17:43] jpbarbosa opened #85 "iOS Simulator location fails after changing its permissions with applesimutils (React Native geolocation)"
**Description**
In an application built with React Native, geolocation fails on iOS Simulator after changing its permissions with applesimutils (accepting location permissions manually works as expected). It's necessary to change iOS Simulator location manually and restart the app to get it back to work (iOS Simulador > Features > Location).

**Steps to Reproduce**
 - Create a simple React Native

[2021-08-02 09:47] frankh opened #86 "Change to git+ssh submodules has broken brew --HEAD installation"
**Description**
Prior to this commit https://github.com/wix/AppleSimulatorUtils/commit/fb56436123d36b4692e9bcbe5342ad1cd814ec0b on a fresh system `brew install wix/brew/applesimutils` worked fine. Now it fails as it tries to connect via SSH, which requires a private key linked to a github account to be on the system.

[code]

If you are describing an issue with `brew install`:
- [X] I've run `brew

[2021-08-02 09:51] frankh commented on #86
closing as i realised this is because i was specifying `--HEAD` which might not be intended to work

[2021-08-02 09:51] #86 closed

[2021-08-06 13:15] tomgransden commented on #83
Also been experiencing the same issue intermittently on AppleSimUtils 0.9.4 on iOS 14.4 simulators. Would be brilliant to get to the bottom of it as it's affecting the Detox tests for my app.

`13:42:48
  detox[2559] ERROR: [exec.js/EXEC_FAIL, #10] "applesimutils --byId 9C41D049-72C4-4F9F-A9E3-EDFE7A696392 --bundle tv.uk.sw --restartSB --setPermissions notifications=YES" failed with code = null, s

[2021-12-30 02:42] shamilovtim commented on #83
@noomorph we are getting this error all the time now. It has increased in frequency to how often we used to get Signal 11. I've linked it here: https://github.com/wix/Detox/issues/3155

[2022-01-31 09:49] JoeSSS opened #87 "Skip setting up permissions if they are already set"
**Is your feature request related to a problem? Please describe.**
I am using CLI tool inside our test automation and every time you start a new set of test the simulator goes to reboot to set the permissions, which eats time and CPU power (especially valid on CI).

**Describe the solution you'd like**
Either make the tool identify on its own that the permissions are already set and skip the actio

[2022-02-03 17:58] arthuralee opened #88 "In CI/Intermittent: "The data couldn’t be read because it isn’t in the correct format""
**Description**
We are getting intermittent failures for the list command:
[code]

**Steps to Reproduce**
Run `applesimutils --list` and it will intermittently fail

**Expected Behavior**
It should not error

**Environment**
We are on CircleCI, and this tends to happen when the machine is "busy" or has the simulator launched.
- applesimutils 0.9.4
- macOS version: 11.5.2
- Xcode version: Xcode 13.

[2022-02-03 18:07] arthuralee opened #89 "In CI/Intermittent: -[NSURL initFileURLWithPath:]: nil string parameter"
**Description**
I'm getting `-[NSURL initFileURLWithPath:]: nil string parameter` when running `applesimutils --list` on a CircleCI machine.
This is a relatively rare occurrence, but would still be great if tests never failed because of this.

This is the full stack:
[code]

Looking at the process logs, this further confirms that there is an issue when running `which xcrun`, causing `nil` to be re

[2022-02-13 22:55] arthuralee commented on #88
Update here: I built a custom version of `applesimutils` to run in our problematic environment. It turns out when this error occurs, we get a cut off version of the json from simctl
Gist here: https://gist.github.com/arthuralee/870beb6e83e61fe795106b60bc13347c

Basically the output is getting randomly cut off. I double checked the actual output from `xcrun simctl list` and it's never cut off (leng

[2022-02-14 12:42] asafkorem commented on #88
@arthuralee thanks for the report and the investigation! Indeed this is very likely to be related to #89.
I'll take a look on that now 🙂

[2022-02-14 12:47] asafkorem commented on #88
It seems like the `NSPipe` buffer limit (4096 bytes) is our bottle neck.

According to [CocoaDev](https://cocoadev.github.io/NSPipe/):

[2022-02-14 14:22] arthuralee commented on #88
@asafkorem not sure if it is related to NSPipe itself.. I created PR #90 which seems to fix things!

[2022-02-14 16:18] #89 closed

[2022-02-15 12:15] asafkorem opened #92 "Fix AppleSimulatorUtils version release script."
Apparently, the version release script (`releaseVersion.sh`) does not update the SHA256 of the bottles in `homebrew-brew/Formula/applesimutils.rb` correctly.

This causes errors when trying to `brew install applesimutils` unless we manually update the SHA256 ([see this commit for example](https://github.com/wix/homebrew-brew/commit/fde283414aafc901b4488355935a4d465c761621)).

Also, we need to add

[2022-03-29 13:53] shamilovtim opened #93 "On Detox 19.5.7 + XCode 13.3 AppleSimUtils is timing out on CircleCI"
**Description**

AppleSimUtils has frequently started doing the following on CircleCi using Detox 19.5.7:
<img width="1094" alt="Screen Shot 2022-03-29 at 9 45 53 AM" src="https://user-images.githubusercontent.com/3495974/160626126-87fa8cf2-5e0f-4581-ad94-3009993363c0.png">

A healthy run when it happens looks like this:
<img width="1273" alt="Screen Shot 2022-03-29 at 9 50 42 AM" src="https://use

[2022-04-12 22:55] #93 closed

[2022-05-06 23:13] kasnder opened #94 "Support for Local Network Usage permission"
**Is your feature request related to a problem? Please describe.**
iOS 14 introduced a new permission for apps to access the local network. This doesn't seem to be currently handled by the tool.

**Describe the solution you'd like**
It would be nice to add this new permission to the tool.

**Describe alternatives you've considered**
The option does not currently seem to be covered.

**Additional c

[2022-06-08 09:49] ganeshac123 commented on #81
I am also facing same issue any issues on this?

[2022-06-19 18:43] ywongweb commented on #85
Seeing the same problem on iOS 15.4 simulators. There is a PR in https://github.com/michalchudziak/react-native-geolocation/pull/180 that fixes mock locations on iOS 15, could it be the same bug?

[2022-07-11 06:55] asafkorem commented on #85
Hey @jpbarbosa, @ywongweb are you still experiencing this issue? have you tried to use `setLocation` with applesimutils?
I suspect that there's an issue with the Simulator app so you might need to call `setLocation` twice..

[2022-07-12 19:25] stigi opened #96 "`0.9.6` was released to homebrew with incorrect checksum"
**Description**

We noticed that brew installing applesimutils started failing on our CI today, at the same time version [0.9.6](https://github.com/wix/AppleSimulatorUtils/releases/tag/0.9.6) was released.

I can also reproduce the issue locally on my mac.

Here's the error

[code]

**Steps to Reproduce**
Run `brew upgrade applesimutils` to install version 0.9.6

**Expected Behavior**
Checksums sh

[2022-07-12 19:26] stigi commented on #96
Similar error (different check sums though) on Intel machines on CI

[code]

[2022-07-12 21:21] kingdavidmartins commented on #96
same

[code]

[2022-07-12 21:30] asafkorem commented on #96
Thanks for the report, checking.

[2022-07-12 22:04] asafkorem commented on #96
I hope this will solve your issue: https://github.com/wix/homebrew-brew/pull/18

[2022-07-12 22:14] asafkorem commented on #96
@trevorzablocki2 can you provide here the full error you're getting?

[2022-07-12 22:15] den-t commented on #96
The same on `big_sur`, which is different to `arm64_big_sur`.

[code]

[2022-07-12 22:16] trevorzablocki2 commented on #96
@asafkorem Yeah, my bad. It is the one @den-t is referring to.

[2022-07-12 22:19] asafkorem commented on #96
@den-t @trevorzablocki2 please check now.

[2022-07-12 22:22] marcobeltempo commented on #96
@asafkorem can confirm it's working on big_sur. Thanks for the quick fix

[2022-07-12 22:22] asafkorem commented on #96
Thanks @marcobeltempo
I'm still checking how to solve this issue, apparently the checksums are different for each bottle, and I'm not sure how to locate them. Last time we used the same checksum for all bottles without any issue :/

[2022-07-12 22:24] asafkorem commented on #96
Sorry for the temporary inconvenience.
Please let me know if you are still having a problem.

[2022-07-12 22:25] den-t commented on #96
@asafkorem as easy as:
[code]

Not sure why `catalina` is different.

[2022-07-12 22:25] asafkorem commented on #96
Oh, great. thanks @den-t
I'll push a full fix now.

[2022-07-12 23:07] #96 closed

[2022-07-13 10:16] cloudratha opened #99 "`0.9.7` Brew install checksum mismatch"
**Description**
This seems to have happened again with the latest release :(

[code]

**Steps to Reproduce**
Steps to reproduce the behavior:

**Expected Behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment**
 - macOS version: [e.g. 10.14.4]
 - Xcode version: [e.g. 10.2]

**Additional

[2022-07-13 12:02] cloudratha commented on #99
Thanks for the quick fix 👍

[2022-07-13 12:02] #99 closed

[2022-07-13 12:49] kingdavidmartins commented on #96
Thanks!! also resolved for me!

[2022-07-19 14:53] AdamOakman opened #100 "No permission type for accessing clipboard for iOS 16.0"
There is a new security feature introduced in iOS 16.0 which asks user to allow/disallow pasting data between apps. Are there any plans to introduce it so it can be set by Appium in iPhone simulator with iOS 16.0?

[2022-07-22 10:53] olezvinskyi opened #101 "applesimutils binary has not been found in your PATH"
**Description**
When I am trying to run Appium tests which are setting capabilities
`options.setPermissions(new Permissions("{\""+config().bundleIdIos()+"\": {\"userTracking\": \"NO\", \"location\": \"always\", \"notifications\": \"NO\"}}"));`

I got next exception

[debug] [BaseDriver] Event 'newSessionStarted' logged at 1658477212836 (01:06:52 GMT-0700 (Pacific Daylight Time))
[debug] [W3C] Enco

[2022-08-18 09:58] #101 closed

[2022-08-18 09:58] olezvinskyi commented on #101
not an issue

[2022-09-01 12:38] devstrat opened #102 "Unable to change permissions for a cloned simulator device started by Xcodebuild Test."
**Description**
Whenever I run some UI tests from Xcode it spawns a clone of a target simulator (instead of using the existing one) which is invisible both for **applesimutils** and **simctl**. These clones are usually stored here: ~/Library/Developer/XCTestDevices.  In case of simctl you can bypass this by specifying the location where these clone simulators are residing like this:

#### xcrun si

[2022-09-01 12:47] billburgess commented on #102
At what point are you applying permissions? I was under the impression that the clones all get the permissions from the original device. This is similar to how running multiple sims work.

[2022-09-01 12:49] billburgess commented on #102
Another way to be extra careful is to create your own sim for each run. This works better in CI, but you can create a named sim and boot it up, apply your permissions to the named sim, then delete when your tests are finished. This also guarantees your permissions set correctly on the device and aren’t leftover when running on the same device.

[2022-09-01 19:18] devstrat commented on #102
What I am trying to achieve is:
1. I invoke the test execution
2. XCTest clones an existing simulator for some target, e.g. Iphone 13, builds an app and installs it on device
3. setup method of some test class starts and invokes the applesimutils to push the permissions first
4. then the app.launch() happens and the actual test steps begin

[2022-09-01 19:25] billburgess commented on #102
I think you should set your device permissions before step 1. Have your sim booted and permissions set before your start your test execution so that the permissions are pre-set before the tests run.

[2022-09-19 12:52] #102 closed

[2022-10-14 12:45] Prodruguez69 opened #104 "Error para conectar con el servidor"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-19 08:24] asafkorem opened #105 "iOS 16: Set health permissions isn't working (error)"
As addressed in https://github.com/wix/Detox/issues/3597#issuecomment-1271528373

Apparently, Apple has renamed the `bundle_id` with `udId` in this `sources` table.
![image](https://user-images.githubusercontent.com/55082339/196635642-880050b4-63ea-44fa-aaa3-277d3ade249b.png)

See https://github.com/wix/AppleSimulatorUtils/blob/master/applesimutils/applesimutils/SetHealthKitPermission.m#L77

In or

[2022-10-19 08:31] alarm109 commented on #105
I've started looking in to this. I forked this repo and now I'm trying to find out how to test this locally? How do I make the detox package use my forked package and not the package from brew?

[2022-10-26 23:34] GGGava commented on #105
@asafkorem fixing this seems a bit more complicated than that. `uuid` already existed in older versions and is not related to the `bundle_id`. The `bundle_id` info was moved to a new table, `logical_sources`, and now `sources` has a new column `logical_source_id`
<img width="1280" alt="Screenshot 2022-10-26 at 16 31 36" src="https://user-images.githubusercontent.com/9848506/198158149-d1a4c1bd-7b4b

[2022-10-27 00:31] GGGava commented on #105
I'll try to submit a fix shortly

[2022-10-27 19:05] GGGava commented on #105
Done, tested it locally, and seems fine, I just couldn't test the delete transaction as I don't know how to replicate it.

@asafkorem if you could review/merge it asap this would help me a lot, thanks :)

[2022-10-30 10:18] asafkorem commented on #105
Hey @alarm109, thanks for pointing on the fact that we don't have any contribution guide.
I just added one, in case you are still looking for help with testing any local changes: https://github.com/wix/AppleSimulatorUtils/blob/master/CONTRIBUTING.md.

[2022-10-30 14:11] #105 closed

[2022-10-30 14:34] mikehardy opened #109 "new release (0.9.8) has SHA256 mismatch in brew?"
**Description**

Installing the new release (literally minutes ago @asafkorem !) I see this:

[code]

If you are describing an issue with `brew install`:
- [x] I've run `brew doctor` and fixed all issues

I did not even know that command, but certainly, I ran it now, this on first output:

[code]

**Steps to Reproduce**
`brew update`
`brew upgrade`

**Expected Behavior**
The new release (thank you

[2022-10-30 14:44] asafkorem commented on #109
Thanks @mikehardy, I just fixed that.
Hope it works well for you. Sorry for the inconvenience

[2022-10-30 14:46] asafkorem commented on #92
This is still very relevant.

[2022-10-30 14:47] asafkorem commented on #105
[ASU v0.9.8](https://github.com/wix/AppleSimulatorUtils/releases/tag/0.9.8) released with the mentioned fix. Thanks @GGGava!

[2022-10-30 14:55] mikehardy commented on #109
:boom:  Confirmed working on a new `brew update && brew upgrade` run

Never a problem, it was just my hope the quick report was useful, I really appreciate the utility and your efforts here, cheers!

[2022-10-30 14:55] #109 closed

[2022-10-30 15:02] asafkorem commented on #109
Yay, thank you! We appreciate this feedback! 🙏🏼

[2022-11-15 23:08] olezvinskyi opened #110 "Simulator is rebooted when I use "notifications": "YES""
**Description**
I implemented Appium framework for ios tests. And each time I set notifications permission my device is rebooted and this can break appium webdriver connection.

If you are describing an issue with `brew install`:
- [ ] I've run `brew doctor` and fixed all issues

**Steps to Reproduce**
Steps to reproduce the behaviour:
just open simulator and set notification permission though ter